.login-form {
    padding-top: 75px;
}

.big {
    font-size: 1.5rem;
}

a:hover, tr:hover, li:hover {
    cursor: pointer;
}

.full-width {
    width: 100%;
}

.spacer {
    height: 1rem;
}

/* Home */
.tile {
border-width: 0;
}
@media screen and (max-width: 1366px) {
    .tile.tile-medium {
    width: 140px;
    height: 140px;
    }
}

/* Backgrid */
.backgrid-container {
    height:100%;
}

.backgrid-container tr:hover {
    background-color:rgb(34, 34, 34);
    color:white;
}

.no-padding {
    padding: 0;
}

/* Navbar */
.navbar {
    margin-bottom: 0;
}

/* Left panel */
#left-panel {
    margin-top: 20px;
}

/* Individual search */
.panel-heading.top-level {
    background-color:rgb(34, 34, 34);
    color: white;
}

.panel-heading.top-level > h1 > a {
    font-size: 1.5rem;
    font-weight: 400;
}

h2.panel-title {
    font-weight: 400;
}

.glyphicon-remove {
    float: right;
}

#indivSavedSearch {
    margin-top: 10px;
}

.indiv-search-label span, .indiv-search-icon span {
    display: inline-block;
}

.indiv-search-label span {
    width: 80%;
}

.indiv-search-icon span {
    width: 20%;
    padding-right: 5%;
}

#hideIndivDetails {
    float:right;
}

#showIndivDetails {
    position: fixed;
    margin-top: 20px;
    z-index: 1;
}

/* ul */
ul.unstyled > li {
    padding: 0;
    margin: 0;
    list-style: none;
}
