.login-form {
    padding-top: 75px;
}

a:hover, tr:hover, li:hover {
    cursor: pointer;
}

.full-width {
    width: 100%;
}

.spacer {
    height: 1rem;
}

/* Home */
.tile {
border-width: 0;
}
@media screen and (max-width: 1366px) {
    .tile.tile-medium {
    width: 140px;
    height: 140px;
    }
}

/* Backgrid */
.backgrid-container {
    height: 100%;
}

.no-padding {
    padding: 0;
}

/* Navbar */
.navbar {
    margin-bottom: 0;
}

/* Left panel */
#left-panel {
    margin-top: 20px;
}

/* Individual search */
.panel-heading.top-level {
    background-color: black;
    color: white;
}

.panel-heading.top-level > h4 > a {
    font-size: 1.5rem;
    font-weight: 400;
}

.glyphicon-remove {
    float: right;
}

.indiv-search-label span, .indiv-search-icon span {
    display: inline-block;
}

.indiv-search-label span {
    width: 80%;
}

.indiv-search-icon span {
    width: 20%;
    padding-right: 5%;
}

/* ul */
ul.unstyled > li {
    padding: 0;
    margin: 0;
    list-style: none;
}
