.login-form {
    padding-top: 75px;
}

a:hover, tr:hover {
    cursor: pointer;
}

.full-width {
    width: 100%;
}

.spacer {
    height: 1rem;
}

/* Navbar */
.navbar {
    margin-bottom: 0;
}

#left-panel {
    margin-top: 20px;
}

#main-panel {
    margin-top: 20px;
}

.main-panel .map-container {
    margin: 0;
}

/* Individual search */
.panel-heading.top-level {
    background-color: black;
    color: white;
}

.panel-heading.top-level > h4 > a {
    font-size: 2.5rem;
}

.glyphicon-remove {
    float: right;
}
