header{
	z-index: 10000000000!important;
	background: @vert1;
	color: white;
	position: absolute;
	width: 100%;
	.navbar{
		border-radius: 0px;
		border: 0px;
		border: none;
		.navbar-brand{
			padding: 15px 20px!important;
		}
	}

	a{
		color: white;
		position: relative;
		vertical-align:middle;
		&:focus{
			color: white;
		}
	}
	span{
		vertical-align: top;
	}
	a{
		&:hover, &:focus, &:visited{
			color: white;
			background: @vert2!important;
		}
	}

	.dropdown-menu > li > a{
		color: #333333;
	}

	.navbar {
		margin-bottom: 0;
	}
	svg{
		rect { fill: white; }
	}


	.nav .open > a{
		background: @vert2!important;
		&:visited, &:hover, &:focus{
			background: @vert2!important;
		}
	}
}

