.export-layout{
/* 	.step-pane{
	max-height: 500px;
	overflow: auto;
} */
backgorund: #f8f8f8;
	.filter{
		padding: 2%;
		background: #ddd;
		min-height: 50px;
		transition: .2s all ease;

		label{
			display: none;
		}
		&:hover{
			background: #ccc;
		}
	}
	.validated{
		border: 1px solid @vert1;
		z-index: 100;
		background: @vert1;
		color: white;
	}
	.checkbox{
		margin-top: 15px!important;
	}
	.backgrid th{
		text-align: left;
	}
	.map-legend{
		padding: 20px;
		position: absolute;
		background: rgba(0, 0, 0, 0.5);
		color :white;
		z-index: 10;
		right: 0px;
		margin: 25px;
		border-radius: 3px;

	}
	.ol-zoom{
		z-index: 100;
	}
	.records{
		background: @vert1;
		padding: 10px;
		margin-top: 10px;
	}

	.exp-file{
		cursor: pointer;
		display: inline-block;
		background: #ffffff;
		border: 1px solid #dedede;
		color: #cacaca!important; 
		border-radius: 5px;
		padding: 20px;
		margin: 20px 50px;
		color: white;
		min-height: 300px;
		transition: .1s all;
		width: 20%;
		&.active{
			background: #39b34a;
			color: white!important;
		}
		label{
			cursor: pointer;
		}
		i.icon{
			font-size: 10em!important; 
		}
	}


}
