body.home-page{
	background: url(../img/home_fond.jpg) center center no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

/* Tiles */
.tile{
	opacity: 1;
	border: 4px solid transparent;
	position: relative;

	&:hover{
		opacity: 0.8;
	}
	h2{
		font-size: 16px;
		font-weight: normal;
		padding: 10px;
	}
	&.tile-double{
		width: 320px;
	}
	&.tile-wide{
		width: 320px;
	}
	&.tile-medium{
		
	}

}

.tile.tile-medium, .tile.tile-wide, .tile.tile-double{
	margin-right: 10px;
	margin-left: 10px;
}

canvas{
    margin:0 !important;
}