#main-panel > .grid{
	background: rgba(0,0,0,0.8);
	color: white;
	
	// > .container-fluid {
	// 	margin: 0 20px;
	// 	padding:20px;

		

	

}

@-webkit-keyframes fadein {
    0%   { opacity: 0.3; }
    100% { opacity: 1; }
}

@-moz-keyframes fadein {
    0%   { opacity: 0.3; }
    100% { opacity: 1; }
}

@keyframes fadein {
    0%   { opacity: 0.3; }
    100% { opacity: 1; }
}
.red-row {
    background-color: rgba(153, 3, 3, 0.75);
    opacity : 0.2;
    -webkit-animation:  fadein 1s ease-in-out alternate infinite;
    -moz-animation:  fadein 1s ease-in-out alternate infinite;
    -o-animation:  fadein 1s ease-in-out alternate infinite;
    animation:  fadein 1s ease-in-out alternate infinite;
}
.grid-list {

    .backgrid .sort-caret{
        color: white;
    }

    .backgrid .descending .sort-caret {
        border-top: 4px solid white;
    }
    .backgrid .ascending .sort-caret {
        border-bottom: 4px solid white;
    }
    thead{
        tr{
            th{
                background: transparent;
                a{
                    color: #C0C0C0;
                    text-transform: uppercase;
                    text-align: left;
                }
            }
            td{
                border: none;
               

            }
        }
    }
    .backgrid td{
        border: none;
        border-bottom: none;
        border-bottom: 0px;
        text-align: left;
    }
}
.backgrid-paginator  {
    a {
        color: #C0C0C0;
    }

    a:hover {
        border-radius:5px;
    }
    .active a {
        border-radius:5px;
    }
}
