

//not only for individuals..
.filter-bg-image {
	padding: 2%;
	background-color:#f5f5f5;
	.panel-heading.top-level {
		text-transform: uppercase;
		border-radius: 0px;
	}
	.panel-group{
		margin-bottom: 0px!important;
	}

	.panel-default{
		border: none;
	}
	.form-group{
		  margin: 15px 0px;
	}
	.panel-heading{
		padding: 0px;
	}
	.panel{
		box-shadow: none;
	}
}
.filter-bg-image  div {
	background-color:none !important;
}


.filter-bg-image.panel-group{
	margin: 0px!important;
}

.panel-title{
	a{
		transition: .5s all;
		&:hover{
			background: rgba(0,0,0,0.1);
		}
		padding: 20px;
		width: 100%;
		display: block;
		i.glyphicon{
			float: right;
			&:after { content: "\e114"; }
		}
		&.collapsed{
			i.glyphicon{
				float: right;
				&:after { content: "\e080"; }
			}	
		}
	}
}