
.filter-bg-image {
	background-image: url('../img/birds_filter_fond.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.filter-bg-image  div {
	background-color:none !important;
}