#main-panel > .grid{
	background: rgba(0,0,0,0.8);
	color: white;
	
	> .container-fluid {
		margin: 0 20px;
		padding:20px;

		

	}

}

.grid-list {

    .backgrid .sort-caret{
        color: white;
    }

    .backgrid .descending .sort-caret {
        border-top: 4px solid white;
    }
    .backgrid .ascending .sort-caret {
        border-bottom: 4px solid white;
    }
    thead{
        tr{
            th{
                background: transparent;
                a{
                    color: #2a6496;
                    text-transform: uppercase;
                    text-align: left;
                }
            }
            td{
                border: none;
               

            }
        }
    }
    .backgrid td{
        border: none;
        border-bottom: none;
        border-bottom: 0px;
        text-align: left;
    }
}
