.backgrid-selected-row{
	color: white;
	background-color: #242525;
}
div.error {
	color: red;
}

.float-div {
	display: inline-block;
	margin: 5px;
	vertical-align: top;
}
.masqued{
    display: none;
}



/*
i.icon.reneco.close {
	color: red;
	float: left;
	margin-right: 0.5em;
}
i.icon.reneco.validated{
	color: green;
	float: left;
	margin-right: 0.5em;
}
div.subProtoContainer form {
padding-top: 2em;
padding-bottom: 2em;
border-color: rgb(184, 170, 170);
border-width: 1px;
border-style: solid;
}
#add-proto{
	float:right;
}
*/


.input-demo{
	legend{
		padding: 15px;
		border-bottom: none;
	}
	.col-sm-4.form-field{
		min-height: 90px;
	}
	.bg-hack{
		background: -webkit-linear-gradient(left, #333, #333 25%, white 25%, white);
		#stationPanel{
			color: white;
		}

	}
	.nav.nav-tabs{
		height: 100px;
		/*
		a{
			color: white;
			&:hover{
				color: white
			}
		}
		*/
	}

	/*
	.inputProtocolValidation{
		magin-right: 30px;
		background-color: #5cb85c;
		text-transform: uppercase;
		&:hover{
			background-color: #449d44;
		}
	}
	&:hover{

	}*/

}