.backgrid-selected-row{
	color: white;
	background-color: #242525;
}
div.error {
	color: red;
}
.input-container{
	margin-top: 10px;
}
.float-div {
	display: inline-block;
	margin: 5px;
	vertical-align: top;
}
.masqued{
    display: none;
}
i.icon.reneco.close {
	color: red;
	float: left;
	margin-right: 0.5em;
}
i.icon.reneco.validated{
	color: green;
	float: left;
	margin-right: 0.5em;
}
div.subProtoContainer form {
padding-top: 2em;
padding-bottom: 2em;
border-color: rgb(184, 170, 170);
border-width: 1px;
border-style: solid;
}
#add-proto{
	float:right;
}