.validate{
	background: url(../img/home_fond.jpg) center center no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;

}





.pannel{
	position: absolute;
	//right: 0;
	right: -100%;
	transition: .5s all;
}
.pannel.active{
	right: 0;
}
.pannels-container{
	overflow: hidden;
	height: 100%;
}