<script type="text/template">
<div id="home-top" class="row">
    <div id="graph" class="
    col-lg-6
    hidden-md
    hidden-sm
    hidden-xs
    ">
    </div>
    <div id="info" class="
    col-lg-6 col-lg-offset-0
    hidden-md
    hidden-sm
    hidden-xs
    ">
    </div>
</div>

<br><br>


<div id="home-bottom" class="row-fluid">


		<div class="col-lg-6 center-block no-padding">
			<div class="wrapper">

				<div id="importTile" class="tile small_tile tile-pomegranate">
                    <div class="sub-tile">
                    <i class="fa fa-3x huge icon reneco import"></i>
                    <h3>Manual import</h3>
                    </div>
				</div>
				<div id="manualTile" class="tile big_tile last tile-pumpkin">
					<i class="fa fa-3x huge icon reneco entrykey "></i>
					<h3>Manual entry</h3>
				</div>


				<div id="argosTile" class="tile small_tile tile-alizarin tile-locked">
					<i class="fa fa-3x huge icon reneco sensorimport"></i>
					<h3>Automatic import</h3>
				</div>
				<div id="validate" class="tile big_tile last tile-carrot">
					<i class="fa fa-3x huge icon reneco validate"></i>
					<h3>Validate</h3>
				</div>
			</div>
		</div>
		<div class="col-lg-6 no-padding">
			<div class="wrapper">
				<div  id="stationsTile" class="tile small_tile first tile-green tile-locked">
					<i class="fa fa-3x huge icon reneco stations"></i>
					<h3>Stations</h3>
				</div>
				<div id="indivTile" class="tile small_tile tile-lime">
					<i class="fa fa-3x huge icon reneco individuals"></i>
					<h3>Individuals</h3>
				</div>

				<div class="tile small_tile last tile-teal tile-locked">
					<i class="fa fa-3x huge icon reneco mydata"></i>
					<h3>My data</h3>
				</div>


				<div id="transmitterTile" class="tile small_tile first tile-emerald">
					<i class="fa fa-3x huge icon reneco sensors"></i>
					<h3>Objects</h3>
				</div>
				<div id="rfidTile" class="tile small_tile tile-nephritis">
					<i class="fa fa-3x huge icon reneco sites"></i>
					<h3>Monitored sites</h3>
				</div>
				<div id="myDataTile" class="tile small_tile last tile-peter-river">
					<i class="fa fa-3x huge icon reneco export"></i>
					<h3>Export</h3>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>






<!-- <div class="row">

    
        <div class="clear"></div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">

            <div id="manualTile" class="thumbnail tile tile-wide tile-pumpkin">
                <i class="fa fa-3x huge icon reneco entrykey"></i>
                <h3>manual entry</h3>
            </div>

            <div id="importTile" class="thumbnail tile tile-medium tile-sun-flower connected">
                <i class="fa fa-3x huge icon reneco import"></i>
                <h3>import</h3>
            </div>

            <div id="argosTile" class="thumbnail tile tile-medium tile-orange connected">
                <i class="fa fa-3x huge icon reneco sensorimport"></i>
                <h3>sensor import</h3>
                <div class="badge bg-red" id="homeArgosNb"></div>
            </div>
        </div>


        

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">

            <div id="objectsTile" class="thumbnail tile tile-medium tile-lime connected">
                <i class="fa fa-3x huge icon reneco sensors"></i>
                <h3>sensors</h3>
            </div>

            <div id="indivTile" class="thumbnail tile tile-medium tile-emerald connected">
                    <i class="fa fa-3x huge icon reneco individuals"></i>
                    <h3>individuals</h3>
            </div>

            <div id="allDataTile" class="thumbnail tile tile-wide tile-green connected">
                    <i class="fa fa-3x huge icon reneco map"></i>
                    <h3>map</h3>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">

            <div id="gsmTile" class="thumbnail tile tile-medium tile-teal connected ">
                <i class="fa fa-3x huge icon reneco import"></i>
                <h3>gsm</h3>
            </div>

            <div id="rfidTile" class="thumbnail tile tile-medium tile-peter-river connected" >
                <span class="pull-right label label-danger" id="homeNbObs"></span>
                    <i class="fa fa-3x huge icon reneco mydata"></i>
                    <h3>rfid </h3>
            </div>

            <div id="transmitterTile" class="thumbnail tile tile-medium tile-teal connected ">
                    <i class="fa fa-3x huge icon reneco export"></i>
                    <h3>objects</h3>
            </div>

            <div id="myDataTile" class="thumbnail tile tile-medium tile-peter-river connected" >
                <span class="pull-right label label-danger" id="homeNbObs"></span>
                    <i class="fa fa-3x huge icon reneco mydata"></i>
                    <h3>my data </h3>
            </div>

        </div>
</div> -->
</script>
