<script type="text/template" id="home-template">
	<div class="page secondary">
		<div class="page-header">
			<div class="page-header-content">
				<h1>ecoRelev&eacute; data</h1>
			</div>
		</div>
		<div class="page-region">
			<div class="page-region-content">
				<div class="grid">
					<div class="row">
						<div class="span6">
							<h1></h1>
						</div>
					</div>
					<div class="row">
						<div class="span6">
							<div class="tile  icon bg-color-orangeDark">
								<div class="tile-content">
										<img src="images/birds.png">
								</div>
								<div class="brand">
									<span class="name">Identify individual</span>
								</div>
							</div>
							<div class="tile  icon bg-color-yellow">
								<div class="tile-content">
										<img src="images/my-data.png">
								</div>
								<div class="brand">
									<span class="name">My data</span>
								</div>
							</div>
							<a href="#entryStation" >
								<div class="tile double bg-color-red icon">
									<b class="check"></b>
									<div class="tile-content">
										<img src="images/new-data.png">
									</div>
									<div class="brand">
										<span class="name">Data entry</span>
										<span class="badge">0</span>
									</div>
								</div>
							</a>
							
						</div>
						
						<div class="span6">
							<div class="tile  icon bg-color-orange">
								<div class="tile-content">
										<img src="images/download.png">
								</div>
								<div class="brand">
									<span class="name">Download</span>
								</div>
							</div>
							<div class="tile  icon bg-color-greenLight">
								<div class="tile-content">
										<img src="images/upload.png">
								</div>
								<div class="brand">
									<span class="name">Upload</span>
								</div>
							</div>

							<div class="tile double icon bg-color-blue">

								<div class="tile-content">
										<img src="images/maps.png">
								</div>
								<div class="brand">
									<span class="name">Map</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</script>
 <script type="text/template" id="sation-position-template">
	 <div class="page secondary">
		<div class="nav-bar" >
			<div class="nav-bar-inner padding10 bg-color-red ">
				  <span class="element">
				<a href="#" class="back-button big page-back"></a>
				</span>
				<span class="divider"></span>
				<span>
					<h2 class="ftColr-white ftBold">Station: position </h2>
				</span>
			</div>
		</div>
		<div class="page-region">
		  <div class="nav-bar bg-color-white">
				<div class="nav-bar-inner">
					<span class="element "><h3 class="ftColr-black ftBold">Station type</h3></span>
					<span class="divider ftColr-black"></span>
					<ul class="menu">
						<li data-role="dropdown">
							<a href="#entryStation"><h3 class="ftColr-black">point</h3></a>
							<ul class="dropdown-menu">
								<li><a href="#entryStation">polygon</a></li>
								<li><a href="#entryStation">named location</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="page-region-content">
				<div class="grid">
					<div class="row" id="rowMap">
						<div class="span2">
							<div class="row">
								<div class="span2">
									<img src="images/current_position.png" />
								</div>
							</div>
							<div class="row">
								<div class="span2 ">
									<img src="images/pin.png" height="111px" width="131px" class="ui-disabled"/>
								</div>
							</div>
							<div class="row">
								<div class="span2">
									<img src="images/projected_point.png" height="111px" width="131px" />
								</div>
							</div>
							<div class="row">
								<div class="span2">
									<img src="images/enter_coordinate.png" height="111px" width="131px"/>
								</div>
							</div>
						</div>
						<div class="span10" class="border-color-red" id="#spanMap">
							<div class="row">
								<div class="span8">
									<form id="sation-position-form">
										<div class="border-color-red pading-min">
											<div class="input-control text" >
												<fieldset>
													<!--<h2>Station Name</h2>
													<input type="text" />-->
													<span><h2>Latitude</h2></span>
													<input type="text" name="latitude" id="sation-position-latitude"/>
													<span><h2>Longitude</h2></span>
													<input type="text"  name="longitude" id="sation-position-longitude"/>
												</fieldset>
											</div>	
										</div>
										<div class="border-color-red" id="map" >
												<!--<img src="images/map.png" />-->
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="span10">
							<div>
								 <a class="button big" href="#">Cancel</a>
								 <a class="button big bg-color-blue fg-color-white"  type="submit" name="g" value="Submit"  href="#stationInfos">Next</a>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
 </script>
<script type="text/template" id="sation-infos-template">
	<div class="page">
		<div class="nav-bar" >
			<div class="nav-bar-inner padding10 bg-color-red ">
				  <span class="element">
				<a href="#" class="back-button big page-back"></a>
				</span>
				<span class="divider"></span>
				<span>
					<h2 class="ftColr-white ftBold">Station: details </h2>
				</span>
			</div>
		</div>
	</div>
	<div class="page secondary">
		<div class="page-region">
			<div class="page-region-content">
				<div class="grid">
					<div class="row" class="border-color-red">

							<div class="span10">
								<div class="row" class="border-color-red">
									<form id="sation-infos-form">
										<div class="border-color-red">
											<div class="input-control text" >
												<fieldset>
													<!--<h2>Station Name</h2>
													<input type="text" />-->
													<span><h2>Station Name</h2></span>
													<input type="text" name="station_name" class ="required"/>
													<span><h2>Field activity</h2></span>
													<input type="text"  name="field_activity" class ="required" required="" />
												</fieldset>
											</div>	
										</div><br/>
										<div class="border-color-red">
											<div class="input-control text">
												<fieldset>
													<span><h2>Date</h2></span>
													<input type="text" name="date_day" class="datepicker"/>
													<span><h2>Time</h2></span>
													<input type="text" name="time_now" id="mytime"/>
												</fieldset>
											</div>	
										</div><br/>
										<div class="border-color-red">
											<div class="input-control select">
												<fieldset>
													<span><h2>Observer</h2></span>
													<select name="observer1">
															<option value="Observer 1">Observer 1 </option>
															<option value="Observer 2">Observer 2 </option>
															<option value="Observer 3">Observer 3 </option>
															<option value="Observer 4">Observer 4 </option>
															<option value="Observer 5">Observer 5 </option>
													</select>
												</fieldset>
											</div>
										</div><br/>
										<div>
											 <a class="button big" href="#entryStation" >Cancel</a>
											 <a class="button big bg-color-blue fg-color-white"  type="submit" name="g" value="Submit" id="sation-infos-submit" >Next</a>
										</div>
									</form>
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</script>
<script type="text/template" id="msgBox-template">
	<div class="message-dialog bg-color-red" >
	<p><h2 class="ftColr-white ">Passage &agrave; l&acute;&eacute;tape suivante !</h2></p>
	 <a class="button big " href="#proto-choice" >Return</a>
	 <a class="button big" href="#" >Home</a>
	
	</div>
</script>
<script type="text/template" id="msgBox-protocols-choice-template">
<div class="message-dialog border-color-red" >
	<div class="page secondary">
		<div class="page-header">
		</div>
		<div class="page-region">
			<div class="page-region-content">
				<div class="grid">
					<div class="row">
						<div class="span5">
							<p><h1>Choose a data protocol</h1></p>
						</div>
						<div class="span6">
							<a href="#data-entry"><button class="command-button  bg-color-red ">
								<h2 class="ftColr-white">Vertebrate contact</h2>
							</button></a>
							<a href="#data-entry"><button class="command-button bg-color-red ">
								<h2 class="ftColr-white">Simplified habitat</h2>
							</button></a>
							<a href="#data-entry"><button class="command-button bg-color-red ">
								<h2 class="ftColr-white">Nest description</h2>
							</button></a>
							 <a class="button big" href="#msgBox">Cancel</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</script>
<script type="text/template" id="data-entry-template">
	<div class="page secondary">
		<div class="nav-bar" >
			<div class="nav-bar-inner padding10 bg-color-red ">
				  <span class="element">
				<a href="#proto-choice" class="back-button big page-back"></a>
				</span>
				<span class="divider"></span>
				<span>
					<h2 class="ftColr-white ftBold">Station > data entry </h2>
				</span>
			</div>
		</div>
		<div class="page-region">
			<div class="grid">
				<div class="row" class="border-color-red">
					<div class="span6 border-color-red">
						<p><h1>Station</h1></p>
						<br/>
						<h2>Name:</h2>	<h3><%= station_name %></h3> 
						<h2>Longitude:</h2>	<h3><%= longitude %></h3>
						<h2>Latitude:</h2>	<h3><%= latitude %></h3>
						<h2>Date:</h2>	<h3><%= date_day %></h3>
						<h2>Time:</h2>	<h3><%= time_now %></h3>
					</div>
					<div class="span6" class="border-color-red">
						<p><h1>Form content</h1></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</script>