<script type="text/template" id="msgBox-template">
	<div class="message-dialog bg-color-red" >
		<p><h2 class="ftColr-white ">Passage &agrave; l&acute;&eacute;tape suivante !</h2></p>
		 <a class="button big " href="#proto-choice" >Return</a>
		 <a class="button big" href="#" >Home</a>
	</div>
</script>

<script type="text/template" id="map-stations-template">
	<div class="page secondary">
		<div class="nav-bar" >
			<div class="nav-bar-inner padding10 bg-color-red ">
				  <span class="element">
				<a href="#" class="back-button big page-back"></a>
				</span>
				<span class="divider"></span>
				<span>
					<h2 class="ftColr-white ftBold">Stations </h2>
				</span>
			</div>
		</div>
		<div class="page-region">
			<div class="page-region-content">
				<div class="border-color-red" id="map" style="height:300px, width:600px;"></div>
				<div id="navigation" >
					<a class="button big" id="plus" > + </a>
					<a class="button big" id="minus" > - </a>
				</div>
				
			</div>
		</div>
	</div>
</script> 

<script type="text/template" id="home-template">
	<div class="page secondary">
		<div class="page-header">
			<div class="page-header-content">
				<h1>ecoReleve data</h1>
			</div>
		</div>
		<div class="page-region">
			<div class="page-region-content">
				<div class="grid">
					<div class="row">
						<div class="span6">
							<h1></h1>
						</div>
					</div>
					<div class="row">
						<div class="span6">
							<div class="tile  icon bg-color-orangeDark">
								<div class="tile-content">
										<img src="images/birds.png"/>
								</div>
								<div class="brand">
									<span class="name">Identify individual</span>
								</div>
							</div>
							<a href="#mydata" >
								<div class="tile  icon bg-color-yellow">
									<div class="tile-content">
											<img src="images/my-data.png"/>
									</div>
									<div class="brand">
										<span class="name">My data</span>
										<span class="badge" id="badgeMyData">0</span>
									</div>
								</div>
							</a>
							<a href="#entryStation" >
								<div class="tile double bg-color-red icon">
									<b class="check"></b>
									<div class="tile-content">
										<img src="images/new-data.png"/>
									</div>
									<div class="brand">
										<span class="name">Data entry</span>
									</div>
								</div>
							</a>
						</div>
						
						<div class="span6">
							<a href="#updateData">
								<div class="tile  icon bg-color-orange">
									<div class="tile-content">
											<img src="images/download.png"/>
									</div>
									<div class="brand">
										<span class="name">Update</span>
									</div>
								</div>
							</a>
							<div class="tile  icon bg-color-greenLight">
								<div class="tile-content">
										<img src="images/upload.png"/>
								</div>
								<div class="brand">
									<span class="name">Upload</span>
								</div>
							</div>
							<a href="#map-stations" >
								<div class="tile icon bg-color-greenDark">

									<div class="tile-content">
											<img src="images/maps.png"/>
									</div>
									<div class="brand">
										<span class="name">Map</span>
									</div>
								</div>
							</a>
								<a href="#conf" >
									<div class="tile icon bg-color-blue">

										<div class="tile-content">
												<img src="images/configuration.png"/>
										</div>
										<div class="brand">
											<span class="name">Configuration</span>
										</div>
									</div>
								</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</script>

 <script type="text/template" id="sation-position-template">
	 <div class="page secondary">
		<div class="nav-bar" >
			<div class="nav-bar-inner padding10 bg-color-red ">
				  <span class="element">
				<a href="#" class="back-button big page-back"></a>
				</span>
				<span class="divider"></span>
				<span>
					<h2 class="ftColr-white ftBold">Station: position </h2>
				</span>
			</div>
		</div>
		<div class="page-region">
		  <div class="nav-bar bg-color-white">
				<div class="nav-bar-inner">
					<span class="element "><h3 class="ftColr-black ftBold">Station type</h3></span>
					<span class="divider ftColr-black"></span>
					<ul class="menu">
						<li data-role="dropdown">
							<a href="#entryStation"><h3 class="ftColr-black">point</h3></a>
							<ul class="dropdown-menu">
								<li><a href="#entryStation">polygon</a></li>
								<li><a href="#entryStation">named location</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="page-region-content">
				<div class="grid">
					<div class="row" id="rowMap">
						<!--<div class="span2">
							<div class="row">
								<div class="span2">
									<img src="images/current_position.png" />
								</div>
							</div>
							<div class="row">
								<div class="span2 ">
									<img src="images/pin.png" height="111px" width="131px" class="ui-disabled"/>
								</div>
							</div>
							<div class="row">
								<div class="span2">
									<img src="images/projected_point.png" height="111px" width="131px" />
								</div>
							</div>
							<div class="row">
								<div class="span2">
									<img src="images/enter_coordinate.png" height="111px" width="131px"/>
								</div>
							</div>
						</div> -->
						<div class="span10" class="border-color-red" id="#spanMap">
							<div id="locationForm"></div>
							<div class="border-color-red" id="map" >
							<!--<div class="row">
								<div class="span8">
									<form id="sation-position-form">
										<div class="border-color-red pading-min">
											<div class="input-control text" >
												<fieldset>
											
													<span><h2>Latitude</h2></span>
													<input type="text" name="latitude" id="sation-position-latitude"/>
													<span><h2>Longitude</h2></span>
													<input type="text"  name="longitude" id="sation-position-longitude"/>
												</fieldset>
											</div>	
										</div>
										<div class="border-color-red" id="map" >
											
										</div>
									</form>
								</div>
							</div>  -->
						</div>
					</div>
					<div class="row">
						<div class="span10">
							<div>
								 <a class="button big" href="#">Cancel</a>
								 <a class="button big bg-color-blue fg-color-white"  type="submit"  href="#stationInfos" id="locationSubmit">Next</a>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
 </script>
<script type="text/template" id="sation-infos-template">
	<div class="page">
		<div class="nav-bar" >
			<div class="nav-bar-inner padding10 bg-color-red ">
				  <span class="element">
				<a href="#" class="back-button big page-back"></a>
				</span>
				<span class="divider"></span>
				<span>
					<h2 class="ftColr-white ftBold">Station: details </h2>
				</span>
			</div>
		</div>
	</div>
	<div class="page secondary">
		<div class="page-region">
			<div class="page-region-content">
				<div class="grid">
					<div class="row" class="border-color-red">

							<div class="span10">
								<div class="row" class="border-color-red">
									<div id="stationForm"></div><br/>
									<div>
										<a class="button big" href="#entryStation" >Cancel</a>
										<a class="button big bg-color-blue fg-color-white"   id="stationInfoSubmit">Next</a>
									</div>
									<!--<form id="sation-infos-form">
										<div class="border-color-red">
											<div class="input-control text" >
												<fieldset>
											
													<span><h2>Station Name</h2></span>
													<input type="text" name="station_name" class ="required"/>
													<span><h2>Field activity</h2></span>
													<input type="text"  name="field_activity" class ="required" required="" />
												</fieldset>
											</div>	
										</div><br/>
										<div class="border-color-red">
											<div class="input-control text">
												<fieldset>
													<span><h2>Date</h2></span>
													<input type="text" name="date_day" class="datepicker"/>
													<span><h2>Time</h2></span>
													<input type="text" name="time_now" id="mytime"/>
												</fieldset>
											</div>	
										</div><br/>
										<div class="border-color-red">
											<div class="input-control select">
												<fieldset>
													<span><h2>Observer</h2></span>
													<select name="observer1">
															<option value="Observer 1">Observer 1 </option>
															<option value="Observer 2">Observer 2 </option>
															<option value="Observer 3">Observer 3 </option>
															<option value="Observer 4">Observer 4 </option>
															<option value="Observer 5">Observer 5 </option>
													</select>
												</fieldset>
											</div>
										</div><br/>
										<div>
											 <a class="button big" href="#entryStation" >Cancel</a>
											 <a class="button big bg-color-blue fg-color-white"   name="g"  href="#proto-choice" >Next</a>
										</div>
									</form> -->
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</script>
<script type="layout" id="data-entry-layout">
	<div class="page secondary">
		<div class="nav-bar" >
			<div class="nav-bar-inner padding10 bg-color-red ">
				  <span class="element">
				<a href="#proto-choice" class="back-button big page-back"></a>
				</span>
				<span class="divider"></span>
				<span>
					<h2 class="ftColr-white ftBold">Station > data entry </h2>
				</span>
			</div>
		</div>
		<div class="page-region">
			<div class="grid">
				<div class="row" class="border-color-red">
					<div class="span4 border-color-red">
						<div class="station"></div>
						<!--

						-->
					</div>
					<div class="span7" class="border-color-red">
						<div class="protocol"></div>
					</div>
				</div>
				<div class="row" class="border-color-red">
					<div class="span8" class="border-color-red">
						<div class="obsStoredAlertBox"></div>
					</div>
				</div>
				
				
			</div>
		</div>
	</div>
</script>

<script id="data-entry-station" type="template">
	<p><h1>Station</h1></p>
	<br/>
	<h2>Name:</h2>	<h3><%= station_name %></h3> 
	<h2>Longitude:</h2>	<h3><%= longitude %></h3>
	<h2>Latitude:</h2>	<h3><%= latitude %></h3>
	<h2>Date:</h2>	<h3><%= date_day %></h3>
	<h2>Time:</h2>	<h3><%= time_now %></h3>
</script>

<script id="data-entry-protocol" type="template">
	<p><h1><%= name %></h1></p>
	<div id="frm"></div><br/>
	<a class="button big bg-color-blue fg-color-white submit" >Validate</a><br/>
	<div ><img src="" id="image"  /></div>
</script>
<script type="layout" id="main-layout">
	<div class="layoutContent"></div>
</script>
<script id="#item-template" type="template">
  	<a>
		<button class="command-button  bg-color-red " idProt=<%= id %>>
			<h2 class="ftColr-white" idProt=<%= id %>><%= name %></h2>
		</button>
	</a>
</script>
<script type="layout" id="msgBox-protocols-choice">
	<div class="message-dialog border-color-red" >
		<div class="page secondary">
			<div class="page-header">
			</div>
			<div class="page-region">
				<div class="page-region-content">
					<div class="grid">
						<div class="row">
							<div class="span5">
								<p><h1>Choose a data protocol</h1></p>
							</div>
							<div class="span6">
								<div class="listview">
								</div>

								 <a class="button big" href="#">Cancel</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</script>
<script  id="data-entry-end-template" type="template">
	<br/>
	<div class="span5">
			<p><h2><span id="data-entry-end-proto-name"></span> saved</h2></p>
	</div>
	<div class="span6">
		<a href="#proto-choice"><button class="command-button  bg-color-red "><h2 class="ftColr-white" >New data (different protocol)</h2></button></a>
		<a class="btnSameProt"><button class="command-button  bg-color-red "><h2 class="ftColr-white" >New data (same protocol)</h2></button></a>
		<a href="#"><button class="command-button  bg-color-red "><h2 class="ftColr-white" >Finish</h2></button></a>
	</div>
	<br/>
</script>
<!-- layout view my data   -->	
<script type="layout" id="my-data-layout">
	<div class="page secondary">
		<div class="nav-bar" >
			<div class="nav-bar-inner padding10 bg-color-red ">
				  <span class="element">
				<a href="#" class="back-button big page-back"></a>
				</span>
				<span class="divider"></span>
				<span>
					<h2 class="ftColr-white ftBold">My data</h2>
				</span>
			</div>
		</div>
		<div class="page-region ">
			<div class="page-region-content">

					<div class="grid gridview">
			
					</div>
			</div>
		</div>
	</div>
</script>
<!-- layout view my data / template view filter  -->	
<script  id="my-data-filter-template" type="template">
	<div>
		<span><h2>Date</h2></span>
		<input type="text" name="date_day" class="datepicker"/>
		<a class="button big bg-color-blue fg-color-white go">Go</a>
	</div>
	<div class="observationslist"></div>
</script>
<!-- layout view update data   -->	
<script type="layout" id="update-data-layout">
	<div class="page secondary">
		<div class="nav-bar" >
			<div class="nav-bar-inner padding10 bg-color-red ">
				  <span class="element">
				<a href="#" class="back-button big page-back"></a>
				</span>
				<span class="divider"></span>
				<span>
					<h2 class="ftColr-white ftBold">Update</h2>
				</span>
			</div>
		</div>
		<div class="page-region ">
			<div class="page-region-content">
					<div class="grid ">
						<div class="row updateDataGridView" >
						</div>
						<div class="row" class="border-color-red">
							<div class="span8" class="border-color-red">
								<div class="updateDataAlert"></div>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>
</script>
<!-- update data main view -->
<script  id="update-data-template" type="template">
		<div class='span5 updateProtos'>
			<img src='images/update_protos.jpg'/>
		</div>
		<div class='span5 updateUsers'>
			<img src='images/update_users.jpg'/>
		</div>
</script>
<!-- update data alert view -->
<script  id="update-data-alert-template" type="template">
	<br/>
	<div class="span5">
			<p><h2>Are you sure you want to update your data?</h2><br/><h3>This action will delete all your local data</h3></p>
	</div>
	<div class="span6">
		<div class="listviewProtocols"></div>
		<a class="button big cancel" >Cancel</a>
		<a class="button big validate" >Ok</a>
	</div>
	<br/>
</script>
<!-- layout view update data   -->	
<script type="layout" id="config-data-layout">
	<div class="page secondary">
		<div class="nav-bar" >
			<div class="nav-bar-inner padding10 bg-color-red ">
				  <span class="element">
				<a href="#" class="back-button big page-back"></a>
				</span>
				<span class="divider"></span>
				<span>
					<h2 class="ftColr-white ftBold">Configuration</h2>
				</span>
			</div>
		</div>
		<div class="page-region ">
			<div class="page-region-content">
					<div class="grid ">
						<div class="row configList"></div>
						<div class="row configDetails"></div>
						<div class="configNewUserAlertBox"></div>
					</div>
			</div>
		</div>
	</div>
</script>
<script type="text/template" id="config-list-template">
		<a  class="button big users" style="float:left;margin-top:5px;" >Users</a>
</script>
<script type="text/template" id="users-template">
		<a class="button big icon add" style="float:right;margin-top:5px;">Add</a>
		<h2>Users list</h2>
		<div id="users" style="margin-top:10px;border-top:1px #CCC solid;padding-top:5px;">
			
		</div>
</script>

<script type="text/template" id="viewUser-template">
		<h2 class="ftColr-white"><%= name %></h2>
		<a  class="button primary icon edit" style="float:right;">Delete user</a>
</script>

<script  id="data-config-newUser-template" type="template">
	<br/>
	<div>
		<h2>New user</h2>
	</div><br/>
	<div id="frmUser"><span class="ftColr-white ftBold">User name : </span><input type="text" required id="userName"/></div><br/>
	<a class="button big bg-color-blue fg-color-white submit" >Validate</a><br/>
	<a class="button big  fg-color-white cancel" >Cancel</a><br/>
	<br/>
</script>



<script type="text/template" id="viewUserEntry-template">
		<div class="user" id="user<%= user.cid %>">
			<div class="affSupp">
				<div class="button-group" style="float:right;padding-top:4px;padding-right:5px;">
					<button class="button closeAffSupp icon arrowup">Reset</button><button class="button primary danger icon trash deleteEntry">Delete</button>
				</div>
				<h5 style="color:white;padding-left:10px;">Delete <%= user.name %> ?</h5>
			</div>
			<div style="padding:5px;padding-left:10px;">
				<div class="button-group" style="float:right;">
					<a href="#edit/<%= user.cid %>" class="button icon edit just-icon"></a>
					<a class="button icon danger remove just-icon btnSupp"></a>
				</div>
				<a href="#<%= user.cid %>" title="Voir l'article">
					<h3><%= user.name %></h3>
				</a>
			</div>
		</div>
	</script>



	