<script type="text/template">
    <div id="map">
    </div>
    <div id="popup"></div>
    <div id="toolbox" class="masqued">
	<ul id="layerswitcher">
		
		<li><label><input type="radio" name="layer" value="0"> MapQuest Hybrid</label></li>
		<li><label><input type="radio" name="layer" value="1"> MapQuest Satellite</label></li>
		<li><label><input type="radio" name="layer" value="2" checked=""> OSM</label></li>
		<!--<li><label><input type="radio" name="layer" value="3"> MapQuest OSM</label></li>
		 -->
		</ul>
	</div>
	<button class="ol-has-tooltip" type="button" id="layerswitcherBtn">
	<span> </span>
	</button>
</script>


