<script type="text/template">
    <div id="details">
        <div id="separatorDetails">
            <a id="backToSearch"><img src="assets/img/back_white.png"></a><span>Back to search</span>
            <span id="hideIndivDetails" class="glyphicon pointer big glyphicon-chevron-left"/>
        </div>
        <div class="row" id="birdInfosDiv">
            <div class="col-sm-6">
                <div><span>ID : </span>
                <span id="birdId">
                    <%= id %>
                </span></div>
                <div><img id="birdSpecieImg" src=""/></div>
                <div id="divBirdName"><span id="birdSpecies" class="whiteColor">
                    <%= species %>
                </span></div>
                <div>

                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-4">
                        <i class="icon small reneco emitters"></i>
                        <div><span>PTT: </span>
                        <span><%= ptt %></span></div>
                    </div>
                    <div class="col-sm-4">
                        <i class="icon small reneco rings"></i>
                        <p id=" ">rings</p>
                    </div>
                    <div class="col-sm-4">
                        <i class="icon small reneco markers"></i>
                        <p id=" ">markers</p>
                    </div>
                </div>
                <div class="row">
                    <p id="transmittersVal" class="whiteColor"></p>
                </div>

            </div>
        </div>
        <div class="row birdDetailsDiv" id="birdInfosDetails">
            <div class="col-sm-2">
                <i class="icon small reneco" id="icon-sex"></i>
                <p id="birdSexLabel" class="whiteColor">
                    <%= sex %>
                </p>
            </div>
            <div class="col-sm-2">
                <i class="icon small reneco" id="icon-origin"></i>
                <p id="birdOriginLabel" class="whiteColor">
                    <%= origin %>
                </p>
            </div>
            <div class="col-sm-2">
                <i class="icon small reneco" id="icon-age"></i>

                <p id="birdAgeLabel" class="whiteColor">
                    <%= age %>
                </p>
            </div>
            <div class="col-sm-3">
                <div>birth date</div>
                <p id="birdBirthDate" class="whiteColor">
                    <%= birth_date %>
                </p>
            </div>
            <div class="col-sm-3">
                <div>last observation</div>
                <p id="indivLastObs" class="whiteColor"/>
            </div>
        </div>
        <div class="row birdDetailsDiv" id="birdDetailsStatus">
            <div class="col-sm-4">
                <div>survey type</div>
                <p id="birdSurveyType" class="whiteColor">
                    <%= survey_type %>
                </p>
            </div>
            <div class="col-sm-4">
                <div>monitoring status</div>
                <p id="birdMonitStatus" class="whiteColor">
                    <%= monitoring_status %>
                </p>
            </div>
            <div class="col-sm-4">
                <div>individual status</div>
                <p id="birdIndivStatus" class="whiteColor">
                    <%= status %>
                </p>
            </div>
        </div>
        <div class="row birdDetailsDiv" id="birdDetailsPosDiv">
            <div class="col-sm-6">
                <div>number of positions</div>
                <p id="indivNbObs" class="whiteColor">-</p>
            </div>
            <div class="col-sm-6">
                <div>duration (months)</div>
                <p id="indivNbDuration" class="whiteColor">-</p>
            </div>
        </div>
    </div>
    <div id="history" class='backgrid-container'></div>
</script>
