<script type="text/template">
<div class="container-fluid">
    <br>
	<div>
    	<div class="clearfix">
    		<span id="indiv-count" class="medium">-</span>
    		<button id="export-btn" class="small btn btn-labeled btn-grey pull-right">
            EXPORT
                <span class="btn-label">
                <i class="icon reneco export"/>
                </span>

            </button>
    	</div>
    </div>
    <br>
    <div id="grid-row">
        <div id="paginator"></div>
        <br>
        <div id="gridContainer" class="backgrid-container grid-list"></div>
        <br>
    </div>
 </div>    
</script>
