<script type="text/template">
<div class="container-fluid">
	<div class="row">
    	<div class="clearfix">
    		<span id="indiv-count" class="big">-</span>
    		<button id="export-btn" class="small btn btn-labeled pull-right">
            Export
                <span class="btn-label">
                <i class="icon reneco export"/>
                </span>

            </button>
    	</div>
    </div>
    <div class="spacer"/> 
    <div class="spacer"/>   
    <div id="grid-row" class="row">
    	<div id="gridContainer" class="backgrid-container grid-list"></div>
    </div>
 </div>    
</script>
