

    .panel .olControlNavigationItemInactive {
        background:url(img/pan.png) no-repeat;
        opacity: 0.5;
        width: 24px;
        height: 24px;
    }

    .panel .olControlNavigationItemActive {
        background:url(img/pan.png) no-repeat;
        width: 24px;
        height: 24px;
    }
    
    .panel .olControlZoomBoxItemInactive {
        background:url(img/zoom-in.png) no-repeat;
        opacity: 0.5;
        width: 24px;
        height: 24px;
    }

    .panel .olControlZoomBoxItemActive {
        background:url(img/zoom-in.png) no-repeat;
        width: 24px;
        height: 24px;
    }

    .panel {
        width: 24px;
        height: 75px;
        cursor: pointer;
        left: 15px;
        top: 150px;
    }