<script type="text/template">
    <div class="panel-group" id="filter-accordion">
    <div class="panel panel-default">
        <div class="panel-heading top-level">
            <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#filter-accordion" href="#filter-collapse">
                Filters
            </a>
            </h4>
        </div>
    <div id="filter-collapse" class="panel-collapse collapse in">
    <form role="form">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        Characteristics
                    </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                    <input id="id" list="id_list" type="text"
                        class="form-control" placeholder="ID"/>
                    <datalist id="id_list"/>
                    <input id="age" list="age_list" type="text"
                        class="form-control" placeholder="Age"/>
                    <datalist id="age_list"/>
                    <input id="sex" list="sex_list" type="text"
                        class="form-control" placeholder="Sex"/>
                    <datalist id="sex_list"/>
                    <input id="origin" list="origin_list" type="text"
                        class="form-control" placeholder="Origin"/>
                    <datalist id="origin_list"/>
                    <input id="specie" list="specie_list" type="text"
                        class="form-control" placeholder="Specie"/>
                    <datalist id="specie_list"/>
                    <input id="breeding_ring" list="breeding_ring_list" type="text"
                        class="form-control" placeholder="Breeding ring"/>
                    <datalist id="breeding_ring_list"/>
                    <input id="chip_code" list="chip_code_list" type="text"
                        class="form-control" placeholder="Chip code"/>
                    <datalist id="chip_code_list"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group" id="accordion2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                    Objects
                    </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <input id="ptt" list="ptt_list" type="text"
                            class="form-control" placeholder="PTT"/>
                        <datalist id="ptt_list"/>
                        <input id="frequency" list="frequency_list" type="text"
                            class="form-control" placeholder="Frequency"/>
                        <datalist id="frequency_list"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group" id="accordion3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion3" href="#collapseThree">
                    Release infos
                    </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                    <input id="release_ring" list="release_ring_list" type="text"
                        class="form-control" placeholder="Release ring"/>
                    <datalist id="release_ring_list"/>
                    <input id="release_area" list="release_area_list" type="text"
                        class="form-control" placeholder="Release area"/>
                    <datalist id="release_area_list"/>
                    <input id="release_year" list="release_year_list" type="text"
                        class="form-control" placeholder="Release year"/>
                    <datalist id="release_year_list"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6" style="display: none;">
                <button id="filter-btn" type="submit"
                    class="btn-block btn btn-primary">
                    Filter
                </button>
            </div>
            <div class="row">
            <div class="col-sm-5 col-sm-offset-1">
                <button id="clear-btn"
                    class="btn-block btn btn-primary">
                    Clear
                </button>
            </div>
            <div class="col-sm-5">
                <button id="save-btn" class="btn-block btn btn-primary">
                    Save
                </button>
            </div>
            </div>
        </div>
    </form>
    </div>
    </div>
    </div>
    <div class="panel-group" id="saved-accordion">
    <div class="panel panel-default">
        <div class="panel-heading top-level">
            <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#saved-accordion" href="#saved-collapse">
                Saved filters
            </a>
            </h4>
        </div>
    <div id="saved-collapse" class="panel-collapse collapse">
        <div id="indivSavedSearch"/>
    </div>
    </div>
    </div>
    <div id="indivModalQuery"></div>
</script>
