<div class="page secondary">
	<div class="nav-bar" >
		<div class="nav-bar-inner padding10 bg-color-red ">
			  <span class="element">
			<a href="#proto-choice" class="back-button big page-back"></a>
			</span>
			<span class="divider"></span>
			<span>
				<h2 class="ftColr-white ftBold">Station > data entry </h2>
			</span>
		</div>
	</div>
	<div class="page-region">
		<div class="grid">
			<div class="row" class="border-color-red">
				<div class="span6 border-color-red">
					<p><h1>Station</h1></p>
					<br/>
					<h2>Name:</h2>	<h3><%= station_name %></h3> 
					<h2>Longitude:</h2>	<h3><%= longitude %></h3>
					<h2>Latitude:</h2>	<h3><%= latitude %></h3>
					<h2>Date:</h2>	<h3><%= date_day %></h3>
					<h2>Time:</h2>	<h3><%= time_now %></h3>
				</div>
				<div class="span6" class="border-color-red">
					<p><h1>Form content</h1></p>
				</div>
			</div>
		</div>
	</div>
</div>