<script type="text/template">
    <div class="col-sm-4 col-sm-offset-4">
        <form class="form" role="form">
            <div class="form-group" id="group-mod">
                <label for="input-mod" class="control-label">
                    Choose a RFID module:
                </label>
                <input id="input-mod" list="mod-list" type="text"
                    class="form-control" placeholder="Identifier"/>
                <datalist id="mod-list">
                    <% _.each(items, function(item) { %>
                    <option> <%= item.identifier %> </option>
                    <% }); %>
                </datalist>
                <span id="help-mod" class="help-block"></span>
            </div>
            <div class="form-group" id="group-file">
                <input type="file" id="input-file"/>
                <span id="help-file" class="help-block"></span>
            </div>
            <div class="form-group">
                <button id="btn-import" type="submit" class="btn btn-primary">
                    Import
                </button>
            </div>
        </form>
        <div class="spacer"/>
        <div class="progress" style="display: none;">
            <div class="progress-bar" style="width: 0%;"></div>
        </div>
    </div>
</script>
