<script type="text/template">
    <div class="StepManager fuelux full-height" id="form-container">
        <div class="wizard" id="wizard">
            <div class="stepper-header" id = "stepper-header" > Deploy or Remove RFID  </div>
            <div class="clear"></div>
            <div class="step-content" id="step-content" style ="margin-top: 5%">
                <form class="form-horizontal col-sm-4 col-md-4" role="form">
                    <div class="form-group" id="group-mod">
                        <label for="input-mod" class="control-label col-sm-5">
                            RFID module:
                        </label>
                        <div class="col-sm-7">
                            <input id="input-mod" list="mod-list" type="text"
                                class="form-control" placeholder="RFID module"/>
                            <datalist id="mod-list"/>
                            <span class="help-block" id="help-mod"/>
                        </div>
                    </div>
                     <div class="form-group" id="group-begin">
                        <label for="input-begin" class="control-label col-sm-5">
                            Placed on:
                        </label>

                        <div class="col-sm-7 col-md-7 input-type date dateTimePicker" id="dateTimePicker1">
                            <input id="input-begin" type="text" data-date-format="DD/MM/YYYY HH:mm:ss" 
                                class="form-control" disabled>
                            </input>

                        </div>
                    </div>
                    <div class="form-group" id="group-type">
                        <label for="input-type" class="control-label col-sm-5">
                            Monitored site type:
                        </label>
                        <div class="col-sm-7">
                            <select id="input-type" class="form-control" placeholder="Type" disabled></select>
                            <span class="help-block"/>
                        </div>
                    </div>
                    <div class="form-group" id="group-name">
                        <label for="input-name" class="control-label col-sm-5">
                            Monitored site name:
                        </label>
                        <div class="col-sm-7">
                            <select id="input-name" class="form-control" placeholder="Name" disabled></select>
                            <span class="help-block"/>
                        </div>
                    </div>           
                    <div class="form-group" id="group-end">
                        <label for="input-end" class="control-label col-sm-5">
                            Removed on:
                        </label>
                        <div class="col-sm-7 col-md-7 input-type date dateTimePicker" id="dateTimePicker2">
                            <input id="input-end" type="text" data-date-format="DD/MM/YYYY HH:mm:ss" 
                                class="form-control" disabled>
                            <span class="help-block"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-5">
                            <button id="btn-action" type="submit"
                                class="btn btn-primary" disabled>
                                Choose a module
                            </button>
                        </div>
                    </div>
                </form>
        
                <div class="col-sm-8" id="map-container" class="full-height" style="height:300px;"></div>
            </div>  
        </div>
    </div>

</script>
