<script type="text/template">
    
    <div class="StepManager fuelux full-height" id="form-container">
        <div class="wizard" id="wizard">
            <div class="stepper-header" id = "stepper-header" > Create a new RFID  </div>
            <div class="clear"></div>
            <div class="step-content" id="step-content">
                <form class="form" role="form">
                    <div id="group-identifier" class="form-group">
                        <label for="input-identifier" class="control-label">
                        Identifier:
                        </label>
                        <input type="text" id="input-identifier" class="form-control"/>
                        <span id="help-identifier" class="help-block"></span>
                    </div>
                    <div class="form-group">
                        <button id="btn-add" type="submit" class="btn btn-primary">
                            Add
                        </button>
                     </div>
                </form>
            </div>  
        </div>
    </div>
</script>
