<script type="text/template">
    <div class="col-sm-4 col-sm-offset-4">
        <p class="text-justify">
            Warning, this tool will affect all not imported data. One location per
            individual per hour will be added.
        </p>
        <form class="form" role="form">
            <div class="form-group col-sm-6 col-sm-offset-3">
                <button id="btn-validate" type="submit"
                    class="btn btn-primary btn-block">
                    Validate
                </button>
            </div>
        </form>
    </div>
</script>
