<script type="text/template">
    <div class="col-sm-5 col-sm-offset-3">
        <p class="text-justify">
            Warning, this tool will affect all not imported data.
        </p>
         <div class="well"> 
            <p id="sliderVal" class="text-justify">
                Select location per individual per <b>60</b> minutes : 
            </p>
            <div class="col-sm-offset-1">
                <div id="bt-slider"  data-slider-min="15" data-slider-max="120" data-slider-step="5" data-slider-value="60"/>
            </div>
        </div>
        <form class="form" role="form">
            <div class="form-group col-sm-6 col-sm-offset-3">
                <button id="btn-validate" type="submit"
                    class="btn btn-primary btn-block">
                    Validate
                </button>
            </div>
        </form>
    </div>
</script>

