
.smallest {
    font-size: 1rem;
}

.very-small {
    font-size: 1.5rem;
}
.fnt-normal {
    font-weight: 200;
}

.medium {
    font-size: 2rem !important;
}

.full-width {
    width: 100%;
}

.big {
     font-size: 3rem;
}

.spacer {
    height: 1rem;
}

/* Left panel detail */
.black-bg {
    background: #1a1a1a;
    //background-color: rgb(34, 34, 34);
}

/* Backgrid */
.backgrid-container {
    height:100%;
    min-height:50px;
}

.backgrid-container tr:hover {
    background-color:rgb(34, 34, 34);
    color:white;
}

.no-padding {
    padding: 0;
}

/* Navbar */
.navbar {
    margin-bottom: 0;
}

/* Left panel */
#left-panel {
    padding-top: 20px;
}

/* Main panel */
#main-panel {
    padding-top:20px;
    
}

.btn-label {
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.15);
    border-radius: 0px 3px 3px 0px;
    right:-12px;
}
.btn-labeled {
    padding-top: 0px;
    padding-bottom: 0px;
    border:0px;
    
}

.btn-grey {
    background-color: grey;
}

.btn-margin {
    margin: 20px 10px;
}
/* ul */
ul.unstyled > li {
    padding: 0;
    margin: 0;
    list-style: none;
}