
body{
	font-family: 'Exo 2', 'sans-serif';
}

h1,h2,h3,h4{
	font-weight: 200;
}
a:hover, tr:hover, li:hover {
    cursor: pointer;
}






.container{
	margin: 50px auto;
}

.clear{
	clear: both;
	float: none;
}

.glyphicon.pointer{
    cursor: pointer;
}


#showIndivDetails{
    padding: 10px;
    cursor: pointer; 
}

/* Individual search */
.panel-heading.top-level {
    background-color:rgb(34, 34, 34);
    color: white;
}


.masqued{
    display: none;
}


.panel-heading.top-level > h1 > a {
    font-size: 1.5rem;
    font-weight: 400;
}
h2.panel-title {
    font-weight: 400;
}


.glyphicon-remove {
    float: right;
}

#indivSavedSearch {
    margin-top: 10px;
}

#indivSavedSearch li {
    padding-right: 5%;
}


.indiv-search-label span, .indiv-search-icon span {
    display: inline-block;
}

.indiv-search-label span {
    width: 80%;
}

.indiv-search-icon span {
    width: 20%;
    padding-right: 5%;
}




/* Individual details */

#birdInfosDetails {
    padding-left:0;
    padding-right:0;
}

.birdDetailsDiv {
border-top: 1px solid #7b7b7b;
padding-top: 5px;
/*background-color: rgba(255, 0, 0, 0);*/
}

#birdId {
color: white;
}

.whiteColor {
color: white;
}

#separatorDetails {
border-bottom: 1px solid #7b7b7b;
/*background-color: rgba(255, 0, 0, 0);*/
height: 60px;
padding: 10px 0;
}

#separatorDetails span:first-of-type {
font-size: 15px;
margin-left: 10px;
}

#divBirdName {
margin-top: 10px;
margin-bottom: 10px;
}

.row.birdDetailsDiv {
margin-right: 0;
}

.detailsIndivPanel {
    color:#a3a1a1;
}

#hideIndivDetails {
    float:right;
}

#showIndivDetails {
    position: fixed;
    margin-top: 20px;
    z-index: 1;
}