html{
    height: 100%;
}

body{
	font-family: 'Exo 2', 'sans-serif';
    height:100%;
}

h1,h2,h3,h4{
	font-weight: 200;
}
a:hover, tr:hover, li:hover {
    cursor: pointer;
}

.fluid-img{
    width: 100%
}




.container{
	margin: 50px auto;
}

.clear{
	clear: both;
	float: none;
}

.glyphicon.pointer{
    cursor: pointer;
}



/* Individual search */
.panel-heading.top-level {
    background-color:rgb(34, 34, 34);
    color: white;
}



.panel-heading.top-level > h1 > a {
    font-size: 1.5rem;
    font-weight: 400;
}
h2.panel-title {
    font-weight: 400;
}


.glyphicon-remove {
    float: right;
}

#indivSavedSearch {
    margin-top: 10px;
}

#indivSavedSearch li {
    padding-right: 5%;
}


.indiv-search-label span, .indiv-search-icon span {
    display: inline-block;
}

.indiv-search-label span {
    width: 80%;
}

.indiv-search-icon span {
    width: 20%;
    padding-right: 5%;
}





img.fluid{
    
}