/* COLORS */
@login_bluec: #4CC2F1;
@login_blued: #0086C7;

@blue-c: #2da8e0;
@blue-d: #0a73ba;
@red-h: #e7332a;

@vert1: #2ecc40; //header
@vert2: #42d052;

@vert4: #5cb85c; //buttons 
@vert5: #449d44; //hover buttons


@grey1: #b6b6b6;
@grey2: #979797;


@grey5: #939393;
@grey3: #343434;
@grey4: #1a1a1a;


.smallest {
    font-size: 1rem;
}
.very-small {
    font-size: 1.5rem;
}
.fnt-normal {
    font-weight: 200;
}
.medium {
    font-size: 2rem !important;
}
.big {
     font-size: 3rem;
}