<script type="text/template" id="newStationTpl">
<form>
	<h3>new station</h3>
  <fieldset>
  	<legend>identification</legend>
  	<div>
	    <div class='float-div'>
	    	<label>station name*</label>
	    	<div data-editors="Name"></div>
	    	<div id='error-Name' class='error'></div>
	    </div>
	    <div class='float-div'>
	    	<label>station id*</label>
	    	<div><input/></div>
	    </div>
    </div>
  </fieldset>
  <fieldset>
  	<legend>date of creation</legend>
  	<div>
  		<div class='float-div'>
	    	<label>date*</label>
	    	<div data-editors="Date_"></div>
	    	<div id='error-Date_' class='error'></div>
	    </div>
	    <div class='float-div'>
	    	<label>time*</label>
	    	<div data-editors="time_"></div>
	    	<div id='error-time_' class='error'></div>
	    </div>
  	</div>
  </fieldset>
    <fieldset>
  	<legend>position</legend>
  	<div>
  		<div class='float-div'>
	    	<label>latitude*</label>
	    	<div data-editors="LAT"></div>
	    	<div id='error-LAT' class='error'></div>

	    </div>
	    <div class='float-div'>
	    	<label>longitude*</label>
	    	<div data-editors="LON"></div>
	    	<div id='error-LON' class='error'></div>
	    </div>
  	</div>
  </fieldset>
      <fieldset>
  	<legend>field caracteristics</legend>
  	<div>
  		<div class='float-div'>
	    	<label>field activity*</label>
	    	<div data-editors="FieldActivity_Name"></div>
	    </div>
	    <div class='float-div'>
	    	<label>observers*</label>
	    	<div data-editors="FieldWorker1"></div>
	    	<div id='error-FieldWorker1' class='error'></div>
	    </div>
  	</div>
  </fieldset>
</form>
</script>