<script type="text/template" id="birdBiometryTpl">
<form>
  	<div class="row">
  		<div class="col-sm-4">
  			<fieldset>
				<legend>General</legend>
			    <div>
			    	<label>sex*</label>
			    	<div data-editors="Name_Sex"></div>
			    	<div id='error-Name_Sex' class='error'></div>
			    </div>
			    <div>
			    	<label>age*</label>
			    	<div data-editors="Name_Age"></div>
			    	<div id='error-Name_Age' class='error'></div>
			    </div>
			    <div>
			    	<label>weight*</label>
			    	<div data-editors="Weight"></div>
			    	<div id='error-Weight' class='error'></div>
			    </div>
			    <div>
			    	<label>skull*</label>
			    	<div data-editors="Skull"></div>
			    	<div id='error-Skull' class='error'></div>
			    </div>
			    <div>
			    	<label>wings*</label>
			    	<div data-editors="Wings"></div>
			    	<div id='error-Wings' class='error'></div>
			    </div>
			   	<div>
			    	<label>tarso metatarsus*</label>
			    	<div data-editors="Tarso_Metatarsus"></div>
			    	<div id='error-Tarso_Metatarsus' class='error'></div>
			    </div>
			    <div>
			    	<label>muscle note*</label>
			    	<div data-editors="Muscle_note"></div>
			    	<div id='error-Muscle_note' class='error'></div>
			    </div>
			   	<div>
			    	<label>adiposity note*</label>
			    	<div data-editors="Adiposity_note"></div>
			    	<div id='error-Adiposity_note' class='error'></div>
			    </div>
			</fieldset>	
	    </div>
	    <div class="col-sm-4">
	    	<fieldset>
				<legend>Bill</legend>    
			    <div>
			    	<label>half culmen*</label>
			    	<div data-editors="Half_Culmen"></div>
			    	<div id='error-Half_Culmen' class='error'></div>
			    </div>
			    <div>
			    	<label>bill length feather*</label>
			    	<div data-editors="Bill_length_feather"></div>
			    	<div id='error-Bill_length_feather' class='error'></div>
			    </div>
			    <div>
			    	<label>bill length nostril*</label>
			    	<div data-editors="Bill_length_nostril"></div>
			    	<div id='error-Bill_length_nostril' class='error'></div>
			    </div>
		    </fieldset>	
		    <fieldset>
				<legend>Feather</legend>  
				<div>
			    	<label>feather occipital*</label>
			    	<div data-editors="Feather_Occipital"></div>
			    	<div id='error-Feather_Occipital' class='error'></div>
			    </div>
			   	<div>
			    	<label>feather black display*</label>
			    	<div data-editors="Feather_Black_Display"></div>
			    	<div id='error-Feather_Black_Display' class='error'></div>
			    </div>
			   	<div>
			    	<label>feather white display*</label>
			    	<div data-editors="Feather_White_Display"></div>
			    	<div id='error-Feather_White_Display' class='error'></div>
			    </div>
			    <div>
			    	<label>feather third primary flight length*</label>
			    	<div data-editors="Feather_thirdPrimaryFlight_length"></div>
			    	<div id='error-Feather_thirdPrimaryFlight_length' class='error'></div>
			    </div>
			    <div>
			    	<label>feather black white*</label>
			    	<div data-editors="Feather_Black_White"></div>
			    	<div id='error-Feather_Black_White' class='error'></div>
			    </div>
			</fieldset>
		</div>
		<div class="col-sm-4">
			<fieldset>
				<legend>Other</legend>  
			   	<div>
			    	<label>sampled*</label>
			    	<div data-editors="Sampled"></div>
			    	<div id='error-Sampled' class='error'></div>
			    </div>
			   	<div>
			    	<label>tail*</label>
			    	<div data-editors="Tail"></div>
			    	<div id='error-Tail' class='error'></div>
			    </div>
			   	<div>
			    	<label>sternum*</label>
			    	<div data-editors="Sternum"></div>
			    	<div id='error-Sternum' class='error'></div>
			    </div>
		

			    <div>
			    	<label>bird collected*</label>
			    	<div data-editors="Bird_collected"></div>
			    	<div id='error-Bird_collected' class='error'></div>
			    </div>
			    <div>
			    	<label>comments</label>
			    	<div data-editors="Comments"></div>
			    </div>
			</fieldset>
		  	
		</div>
    </div>
</form>
</script>