<script type="text/template" id="newStationTpl">
<form>
	<h3>new station</h3>
  <fieldset>
  	<legend>identification</legend>
  	<div>
	    <div class='float-div'>
	    	<label>station name*</label>
	    	<div data-editors="Name"></div>
	    	<div id='error-Name' class='error'></div>
	    </div>
	    <div class='float-div'>
	    	<label>station id*</label>
	    	<div><input disabled='disabled'/></div>
	    </div>
    </div>
  </fieldset>
  <fieldset>
  	<legend>date of creation</legend>
  	<div>
  		<div class='float-div'>
	    	<label>date*</label>
	    	<div data-editors="Date_"></div>
	    	<div id='error-Date_' class='error'></div>
	    </div>
	    <div class='float-div'>
	    	<label>time*</label>
	    	<div data-editors="time_"></div>
	    	<div id='error-time_' class='error'></div>
	    </div>
  	</div>
  </fieldset>
    <fieldset>
  	<legend>position</legend>
  	<div>
  		<div class='float-div'>
	    	<label>latitude*</label>
	    	<div data-editors="LAT"></div>
	    	<div id='error-LAT' class='error'></div>

	    </div>
	    <div class='float-div'>
	    	<label>longitude*</label>
	    	<div data-editors="LON"></div>
	    	<div id='error-LON' class='error'></div>
	    </div>
  	</div>
  </fieldset>
    <fieldset id='station-fieldWorkers' insertedWorkersNb="1">
  	<legend>field caracteristics</legend>
  	<div>
  		<div class='float-div'>
	    	<label>field activity*</label>
	    	<div data-editors="FieldActivity_Name"></div>
	    </div>
	    <div class='float-div'>
	    	<label>observer 1*</label><br/>
	    	<div data-editors="FieldWorker1" class='float-div'></div><div id="addFieldWorkerInput" class='float-div'>+</div>
	    	<div id='error-FieldWorker1' class='error'></div>
	    </div>
	   	<div class='float-div masqued' id='FieldWorker2-field'>
	    	<label>observer 2</label>
	    	<div data-editors="FieldWorker2"></div>
	    </div>
	   	<div class='float-div masqued' id='FieldWorker3-field'>
	    	<label>observer 3</label>
	    	<div data-editors="FieldWorker3"></div>
	    </div>
	   	<div class='float-div masqued' id='FieldWorker4-field'>
	    	<label>observer 4</label>
	    	<div data-editors="FieldWorker4"></div>
	    </div>
	   	<div class='float-div masqued' id='FieldWorker5-field'>
	    	<label>observer 5</label>
	    	<div data-editors="FieldWorker5"></div>
	    </div>
  	</div>
  </fieldset>
</form>
</script>