<script type="text/template">
	<div class="row">
		<div class="col-sm-3">
			<h4>Station</h4>
			<p> name: <%= Name %>  </p>
			<p> longitude: <%= LON %>  </p>
			<p> latitude: <%= LAT %>  </p>
			<p> date: <%= Date_ %>  </p>
			<p> field activity: <%= FieldActivity_Name %>  </p>
			<p> field worker 1: <%= FieldWorker1 %>  </p>
			<p> field workers number: <%= FieldWorkersNumber %>  </p>
		</div>
		<div class="col-sm-9">
			<h4>Protocols</h4>
			<div id="input-forms"></div>
		</div>
	</div>
	<div class="loader" data-initialize="loader" id="myLoader"></div>
</script>
