<script type="text/template">
    <div class="panel panel-default">
        <div class="panel-heading top-level">
            <h1 class="panel-title">
                Select station(s)
            </h1>
        </div>
    <div id="filter-collapse" class="panel-collapse collapse in">
    <form role="form">
        <fieldset>
            <legend>station</legend>
            <div class="col-xs-6">
                <label >Id</label>
                <input name="allSt-PK" class="form-control"  type="text" />
            </div>
            <div id="stationType" class='col-xs-6'>
                <div class="radio-inline">
                      <label><input type="radio" name="all-stationType" value ="Name" checked>Station name</label>
                </div>
                <div class="radio-inline">
                      <label><input type="radio" name="all-stationType" value ="siteName">Site name</label>
                </div>
                <input name="allSt-Name" id ="st-station" class="form-control" type="text"/>
                <select class="form-control masqued" id="stMonitoredSiteName" name='allSt-siteName'/>
            </div> 
        </fieldset>
        <fieldset>
            <legend>date</legend>
            <div class="col-xs-2">
                <select id="allSt-beginDate-op" class="form-control" >
                                <option>=</option>
                                <option>&lt;</option>
                                <option>&lt;=</option>
                                <option>&gt;</option>
                                <option>&gt;=</option>
                </select>
            </div>
            <div class="input-group date col-xs-9  dateTimePicker">
                        <span class="input-group-addon">
                            <span class="glyphicon-calendar glyphicon"></span>
                         </span>
                         <input type="text" name="allSt-beginDate" class="form-control" type="text" placeholder="jj/mm/aaaa" data-date-format="DD/MM/YYYY">
            </div>
            <br/>
            <div class="col-xs-2">
                    <select id="allSt-endDate-op" class="form-control">
                                <option>&lt;</option>
                                <option>&lt;=</option>
                    </select>
            </div>
            <div class="input-group date  col-xs-9 dateTimePicker">
                        <span class="input-group-addon">
                            <span class="glyphicon-calendar glyphicon"></span>
                         </span>
                         <input type="text" name="allSt-endDate" class="form-control" type="text" placeholder="jj/mm/aaaa" data-date-format="DD/MM/YYYY">
            </div>
         </fieldset>
         <fieldset>
            <legend>field caracteristics</legend>
                <div class="col-xs-6">
                    <label>Fieldworker</label><br/>
                    <select name="allSt-fieldWorker" class="form-control">
                        <option></option>
                    </select>
                </div>
                <div class="col-xs-6">
                    <label>Field activity</label><br/>
                    <select name="allSt-fieldActivity" class="form-control">
                        <option></option>
                    </select>
                </div>
                <div class="col-xs-6">
                    <label>Region</label><br/>
                    <select name="allSt-region" class="form-control">
                        <option></option>
                    </select>
                </div>
                <div class="col-xs-6">
                    <label>Monitored site type</label><br/>
                    <select name="allSt-monitoredSiteType" class="form-control">
                        <option></option>
                    </select>
                </div>
        </fieldset>
         <fieldset>
            <legend>Coordinates</legend>
            <div class="col-xs-6">
                <label >min lat</label>
                <input name="allSt-minLat" class="form-control  coords coord-min"  type="text" />
            </div>
            <div class="col-xs-6">
                <label>min lon</label>
                <input name="allSt-minLon" class="form-control coords coord-min" type="text" />
            </div>
            <div class="col-xs-6">
                <label>max lat</label>
                <input name="allSt-maxLat" type="text" class="form-control coords coord-max"/>
            </div>
             <div class="col-xs-6">
                <label>max lon</label>
                <input name="allSt-maxLon" type="text" class="form-control coords coord-max"/>
            </div>
        </fieldset>
        <div class="col-xs-12">
        <label>Individual</label><br/>
            <div class="input-group  picker">      
                <input class="form-control pickerInput required" name="allSt-indivId" type="text">
                <span class="input-group-addon picker"><span class="glyphicon-plus"></span></span> 
            </div>
        </div>
    </form>
    </div>
    </div>
</script>
