
<script type="text/template">
<div id="stationPanel">
      <div class="wrapper">
      <h3>Station: <%= Name %></h3>
      <br>
      <div class="row" >
            <div class="col-sm-2">
                  <a class="arrow-left-station glyphicon pointer  glyphicon-chevron-left" ></a> 
            </div>
            <div class="col-sm-8">
                  <label>id : </label><span id='stId'><%= PK %></span>
            </div>
            <div class="col-sm-2">
                  <a class="arrow-right-station glyphicon pointer glyphicon-chevron-right" ></a>
            </div>
      </div>
      <div class="row" >
            <!--<div class="col-sm-4" id=''>
                  <label>id</label>
                  <div><%= PK %></div>
            </div> -->
            <!--<div class="col-sm-4" id=''>
                        <label>name</label>
                  <div><%= Name %></div>
            </div> -->
            <div class="col-sm-4" id=''></div>
      </div>
      <br>
      <div class="row" >
            <div class="col-sm-4" id=''>
                  <label>lat</label>
                  <div><%= LAT %></div>
            </div>
            <div class="col-sm-4" id=''>
                        <label>lon</label>
                  <div><%= LON %></div>
            </div>
            <div class="col-sm-4" id=''>
               <label>elev</label>
                  <div>_</div>
            </div>
      </div>
      <br>
      <div class="row" >
            <div class="col-sm-8" id=''>
                  <label>place</label>
                  <div>
                        <select  name="stPlace"  class="blackFont form-control">
                              <option></option>
                        </select>

                  </div>
            </div>
            <div class="col-sm-4" id=''>
                  <label>region</label>
                  <div><%= Region %></div>
            </div>
      </div>
      <br>
      <div class="row" >
            <div class="col-sm-6" id=''>
                  <label>accuracy(m)</label>
                  <div><input name="stAccuracy" class="blackFont form-control" type="number"></div>
            </div>
            <!--<div class="col-sm-4" id=''>
                  <label>utm</label>
                  <div></div>
            </div> -->

            <div class="col-sm-6" id=''>
                        <label>dist from observer</label>
                  <div>
                        <select id="stDistFromObs" class="blackFont form-control">
                              <option value="NULL"></option>
                              <option value="1000004">&lt;100m</option>
                              <option value="1000005">100m&lt; x &lt;500m</option>
                              <option value="1000006">&gt;500m</option>
                        </select>
                  </div>
            </div>

      </div>

      <br>
      <!--<div class="row" >
 
      </div>-->
      <br/>
      <div class="row" id="stNameSite" >
            <div class="col-sm-3">
                  <i class="icon small reneco site" id="icon-age"></i> 
            </div>
            <div class="col-sm-9">
                  <label>site</label>
                  <div><%= name_site %></div>
            </div>
      </div>
      <br>
      <div class="row" >
            <div class="col-sm-3">
                  <i class="icon small reneco time" id="icon-age"></i> 
            </div>
            <div class="col-sm-9">
                  <label>time</label>
                  <div><%= Date_ %></div>
            </div>
      </div>
      <br>
      <div class="row" >
            <div class="col-sm-3">
                  <i class="icon small reneco fieldactivity" id="icon-age"></i> 
            </div>
            <div class="col-sm-9">
                  <label>field activity</label>
                  <div>
                        <select  name="st_FieldActivity_Name" class="blackFont form-control">
                              <option></option>
                        </select>
                  </div>
            </div>
      </div>
      <br>
      <div class="row" >
            <div class="col-sm-3">
                  <i class="icon small reneco users" id="icon-age"></i> 
            </div>
            <div class="col-sm-9">
                  <label>observer(s)</label>
                  <div><%= FieldWorker1 %></div>
            </div>
      </div>
      </div>
</div>
</script>