 <div>
	<div id="stContainer"  class="col-xs-3 col-sm-3 col-md-3 col-border"> 
    </div>
    <div class="col-xs-9 col-md-9 no-padding">
    	<div class="wrapper">
            <div class="col-xs-4">
                <h3>Protocols</h3>                              
            </div>
            <div class="col-xs-7">
                <div id="add-proto">
                    <br>
                    <select  class="add-protocol form-control" name="add-protocol" placeholder="add a protocol">
                        <option></option>
                    </select>

                </div>
            </div>
            <div class="col-xs-1">
                <br>
                <i class="icon-action icon mini reneco add"></i>
            </div>
            <div class="clear"></div>
            <br><br>
            <div>
            	<ul class="nav nav-tabs" id="tabProtsUl" name="tabProtsUl">
            	</ul>
				<div class="tab-content" id="tabProtsContent">
					<div class="tab-pane active" id="formsContainer"></div>
					<div id="formButtons"></div>
				</div>
            </div>
        </div>
    </div>
</div>