 <div>
	<div id="stContainer"  class="col-xs-3 col-sm-3 col-md-3 col-border"> 
    </div>
    <div class="col-xs-9 col-md-9 no-padding">
    	<div class="wrapper">
            <div class="col-xs-4">
                <h3>Protocols</h3>                              
            </div>
            <div class="col-xs-7">
                <div id="add-proto">
                    <br>
                    <input type="text" class="add-protocol form-control" name="add-protocol" placeholder="add a protocol" list="protocolsList"/>
                    <!--<i class="icon mini reneco add"></i>-->
                    <datalist id="protocolsList"></datalist>
                </div>
            </div>
            <div class="col-xs-1">
                <br>
                <i class="icon-action icon mini reneco add"></i>
            </div>
            <div class="clear"></div>
            <br><br>
            <div>
            	<ul class="nav nav-tabs" id="tabProtsUl">
            		<li class="active" ><a data-toggle="tab" name="Bird Biometry"><span><i></i></span>Bird Biometry</a><i class="icon reneco close braindead"></i></li>
					<li ><a data-toggle="tab" name="Chiroptera capture"><span><i></i></span>Chiroptera capture</a><i class="icon reneco close braindead"></i></li>
            	</ul>
				<div class="tab-content" id="tabProtsContent">
					<div class="tab-pane active" id="formsContainer"></div>
					<div id="formButtons"></div>
				</div>
            </div>
        </div>
    </div>
</div>