<div class="wrapper">
    <div class="ui segment">
        <div class="ui fluid basic large form segment"> 
            <div class="grouped fields">
                <legend for="male">select an action</legend>

                <div class="field">
                    <div class="ui radio-inline checkbox">
                          <input type="radio" name="stationtype" value="new" checked class="stationtype" id ="st10">
                          <label for="st10">new station with coordinates</label>
                    </div>
                    <div class="ui radio-inline checkbox">
                          <label><input type="radio" name="stationtype" value="newSc">new station without coordinates</label>
                    </div>
                    <div class="ui radio-inline checkbox">
                          <label><input type="radio" name="stationtype" value="newSt">new station from monitored site</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio-inline checkbox">
                        <input type="radio" name="stationtype" class="stationtype" value="imported" id ="st2" >
                        <label for="st2">last imported station(s)</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio-inline checkbox">
                        <input type="radio" name="stationtype" value="old" id ="st3" class="stationtype">
                        <label for="st3">old (all)</label>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>