<script type="text/template">
			<br>
			<div id="paginator"></div>
			<br>
			<div class="grid-controls pull-right">
				<button id="clearAll-btn" class="small btn btn-labeled btn-success white">
				    Unselect all
				        <span class="btn-label">
				        <i class="icon reneco rightarrow white action-picto"></i>
				        </span>

				</button>&nbsp;
				<button id="1pH-btn" class="small btn btn-labeled btn-success white">
				    Select 1/hour
				        <span class="btn-label">
				        <i class="icon reneco time white "></i>
				        </span>
				</button>
			</div>
			<div class="clear"></div>
			</br>
			<div id="locations" class='backgrid-container grid-list'></div>
			<br>
</script>
