<script type="text/template">
			<br>
			<div id="paginator"></div>
			<div class="grid-controls pull-left">
				<button id="import-btn" class="small btn btn-labeled btn-grey pull-right">
					import checked
					<span class="btn-label">
					<i class="icon reneco import"></i>
					</span>
				</button>
			</div>
			<div class="grid-controls pull-right">
				<button id="1pH-btn" class="small btn btn-labeled btn-success white">
						<span>Select 1/Hour</span>
						<span class="btn-label">
						<i class="icon reneco time white "></i>
						</span>
				</button>
				<button id="clearAll-btn" class="small btn btn-labeled btn-success white">
						<span>Select all</span>
						<span class="btn-label">
						<i class="icon reneco rightarrow white action-picto"></i>
						</span>

				</button>&nbsp;

			</div>
			<div class="clear"></div>
			</br>
			<div id="locations" class='backgrid-container grid-list'></div>
			<br>
</script>

