<script type="text/template">
    
        <div class="col-xs-4 dark full-height scroll-auto">
            <br>
            <div class="col-xs-12">
                <!-- <button id="reset" class="btn-lg">reset</button> -->
                <span class="pull-right">
                    <button id="display-map" class="small btn btn-labeled btn-success pull-right">
                         Map
                        <span class="btn-label">
                            <i class="icon reneco map"></i>
                        </span>
                    </button>

                    <button id="display-grid" class="small btn btn-labeled btn-success pull-right">
                         Grid
                        <span class="btn-label">
                            <i class="icon reneco sites"></i>
                        </span>
                    </button>
                </span>
  
            </div>
            <div class="clear"></div>
            <br>
            <div id="paginator"></div>
            <br>
            <div class="panel-group" id="filter-accordion">
                <div class="panel panel-default" style="border: none; background-color: rgba(0, 0, 0, 0);">
                    <div class="panel-heading top-level" style="border-radius: 0px;">
                        <h1 class="panel-title">
                        <a data-toggle="collapse" data-parent="#filter-accordion" href="#filter-collapse">
                            FILTERS
                        </a>
                        </h1>
                    </div>
                    <div id="filter-collapse" class="panel-collapse collapse">
                        <div class="col-sm-12 pull-right">
                        <br>
                            <button id="update" class="small btn btn-labeled btn-success">
                                 FILTER
                                <span class="btn-label">
                                    <i class="icon reneco search "></i>
                                </span>
                            </button>
                        </div>
                        <div class="clear"></div>
                        <div id="filters"></div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12">
<!--                 <button id="add" class="btn-lg">Add</button>
                <button id="deploy" class="btn-lg">Pose/Remove</button> -->
                
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <br>
    

        </div>
        <div class="pannels-container col-xs-8">
            <div class="col-xs-12 full-height auto pannel pannel-grid active">
                <div id="grid"></div>
            </div>
            <div class="col-xs-12 full-height no-padding pannel pannel-map ">
                <div id="map" style="height: 100%"></div>    
            </div>
<!--             <div id="add" class="col-xs-12 full-height"></div>

<div id="poseRemove" class="col-xs-12 full-height"></div> -->
        </div>
</script>