<script type="text/template">
<div id="left-panel" class="col-sm-3">
    <div class="row">
        <button type="button" id="add"
            class="btn btn-primary btn-lg btn-block">
            Add a new RFID module
        </button>
    </div>
    <div class="spacer"/>
    <div class="row">
        <button type="button" id="deploy"
            class="btn btn-primary btn-lg btn-block">
            Pose / Remove
        </button>
    </div>
    <div class="spacer"/>
    <div class="row">
        <button type="button" id="import"
            class="btn btn-primary btn-lg btn-block">
            Import raw data
        </button>
    </div>
    <div class="spacer"/>
    <div class="row">
        <button type="button" id="validate"
            class="btn btn-primary btn-lg btn-block">
            Import data into ecoReleve
        </button>
    </div>
</div>
<div id="main-panel" class="col-sm-9">
</div>
</script>
