<script type="text/template">  
  <div class="wrapper">
        <div id="filter-query" class="pull-right" >
          <button class="btn btn-info" id="filter-query-btn">check result</button>
          <span id="filter-query-result" ></span>
        </div>

        initial count : 
        <span id="countViewRows">
        <img src="assets/img/export/ajax-loader-linear.gif" />
        </span>
        <br>
        Add criteria to filter the results
        <br>
        Select a field and add a criteria
        <br><br>
        <select id="export-view-fields" class="form-control"></select>
        <br><br>

        <div id="export-filter-list"></div>
  </div>
</script>