<script type="text/template">  


  <div class="col-xs-6">

    <h4 class="blackText">initial count : 
      <span id="countViewRows">
      <img src="assets/img/export/ajax-loader-linear.gif" />
      </span>
    </h4>
    <h3>Please add criteria to filter the results</h3>
    <br>
    <label for="male">select a field and add a criteria</label>
    <select id="export-view-fields"></select>
  </div>

  <div class="col-xs-6">


    <div id="export-filter-list"></div>

    <div id="filter-query" class="masqued" >
      <button class="btn btn-info" id="filter-query-btn">check result</button>
      <span id="filter-query-result" ></span>
    </div>

  </div>

</script>