<script type="text/template">
	<br>
	<button id="selectAll" class="small btn btn-labeled btn-success white">
		Select all
		<span class="btn-label">
		<i class="icon reneco validate white action-picto"></i>
		</span>
	</button>
	<button id="validateColumns" class="small btn btn-labeled btn-success white">
		Sync. preview
		<span class="btn-label">
		<i class="icon reneco syncing white action-picto"></i>
		</span>
	</button>
    		<div id="Columns">  			
    		</div>

    		<div class="clear"></div>
    		<br>
</script>