<script type="text/template">    
    <br>
        <div class="col-xs-9"> 
          <form>
      			<label for="male">theme</label>
      			<select id="export-themes">
      			  <option value=""> </option>
      			</select> 
      			<label for="male">views</label>
      		</form>
          <br>
      		<ul class="list-group" id="export-views">
      		</ul>
        </div>
        <div class="col-xs-3">
          <img class="fluid-img" src="assets/img/export/export.jpg" id="exportPhoto"/>
        </div>
</script>
