<script type="text/template">    

    <div class="modal-body">
    	<div class="col-lg-7">
			<!-- <div>filtred count : <span id="countViewRows"></span></div>-->
			<h3>Please select an area (Binding box) on the map to filter the sites </h3> Condition: Press [shift] &nbsp;	<span id="geo-query-result" ></span>

			<div id="map"></div>
			<input  class="updateSelection" type="hidden" value="" />
			<div id="bbox"></div>
			
			<div id="geo-query"><button id="geo-query-btn">check result</button>
			</div>
		</div>
    </div>
    
</script>