<!--
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
        <div class="row-fluid">
			<h3 class="modal-title"><img src="images/export.png" class="modal-title-picto">&nbsp;4- export > select columns to display (<span id="filterViewName"></span>)</h3>
		</div>
    </div>
    -->
    <div class="modal-body">
		<p> Default selected fields: LAT, LON, DATE, (Station or Site_name)</p>
		<div id="formcolumns">
		<div id="waitControl"></div>
			
		</div>
    </div>
    <div class="modal-footer">
		<a  class="btn" id="exportPrevMapBtn">&lt; previous</a>
		<a class="btn" id="export-first-step">first step</a>
		<a class="btn btn-success" id="exportResult">next &gt;</a>
    </div>
    <!--
  </div>
</div>
-->