.backgrid-container {
    height:100%;
    min-height:50px;
}
.backgrid-container tr:hover {
    background-color:rgb(34, 34, 34);
    color:white;
}
.backgrid th{
	text-align: left;
}

//2 do : diff backrid black & backgrid clear