select {
	min-width: 120px;
}


.col-sm-4.form-field li{
	list-style: none;
}


.fuelux .wizard > .steps{
	margin-left: 0px!important;
}


#stationDetails{
	ul{
		padding: 0px!important;
		padding-left: 0px!important;
	}
	fieldset{
		legend{
			padding-top: 15px;
		}
	} 

}
.nav-tabs > li, .nav-tabs > li > a, .nav-tabs > li > i {
	display: inline-block;
}
.nav-tabs > li > i {
	margin-left: -5px;
	margin-top: 10px;
}
button.formBtn {
	margin: 5px;
}



/**
*
* Buttons
*
**/

