select {
	min-width: 120px;
}


li{
	list-style: none;
}


.nav-tabs > li, .nav-tabs > li > a, .nav-tabs > li > i {
	display: inline-block;
}
.nav-tabs > li > i {
	margin-left: -5px;
	margin-top: 10px;
}
button.formBtn {
	margin: 5px;
}



/**
*
* Buttons
*
**/

