<script type="text/template">
<div id="stepper" class="full-height">
  <div class="full-height orchestrator"> 
    <div id="StepManager" class="StepManager fuelux full-height">
      <div class="wizard" data-initialize="wizard" id="importWizard">
           <div class="stepper-header" id = "stepper-header" > IMPORT </div>
          <ul class="steps">
              <li data-step="1" class="active"><span class="badge">1</span>Import File<span class="chevron"></span></li>
              <li data-step="2"><span class="badge">2</span>Validation<span class="chevron"></span></li>
          </ul>

          <div class="step-content" style="overflow: hidden;">
              <div class="step-pane active sample-pane clearfix" data-step="1" id="step1" style="overflow: hidden;">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                  <div id="actions">
                      <br><br>
                      <button class="btn btn-success fileinput-button dz-clickable">
                          <i class="glyphicon glyphicon-plus"></i>
                          <span>Add files...</span>
                      </button>
                      <button type="submit" class="btn btn-primary start">
                          <i class="glyphicon glyphicon-upload"></i>
                          <span>Start upload</span>
                      </button>
                      <button type="reset" class="btn btn-warning cancel">
                          <i class="glyphicon glyphicon-ban-circle"></i>
                          <span>Cancel upload</span>
                      </button>
                      <span class="fileupload-process">
                        <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" style="opacity: 0;">
                          <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress=""></div>
                        </div>
                      </span>

                      <br>



                      <div class="table table-striped" class="files" id="previews">
                        <div id="template" class="file-row">
                          <!-- This is used as the file preview template -->
                          <div>
                              <span class="preview"><img data-dz-thumbnail /></span>
                          </div>
                          <div>
                              <p class="name" data-dz-name></p>
                              <strong class="error text-danger" data-dz-errormessage></strong>
                          </div>
                          <div>
                              <p class="size" data-dz-size></p>
                              <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                              </div>
                          </div>
                          <div>
                            <button class="btn btn-primary start">
                                <i class="glyphicon glyphicon-upload"></i>
                                <span>Start</span>
                            </button>
                            <button data-dz-remove class="btn btn-warning cancel">
                                <i class="glyphicon glyphicon-ban-circle"></i>
                                <span>Cancel</span>
                            </button>
                            <button data-dz-remove class="btn btn-danger delete">
                              <i class="glyphicon glyphicon-trash"></i>
                              <span>Delete</span>
                            </button>
                          </div>
                        </div>
                      </div>
                  </div>

                </div>


                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                  <br><br>
                  <div class="drag-zone-hover" style="height:400px">
                    <span class="huge">Drop your file here</span>
                  </div>
                  <br><br><br>
                </div>

                <div class="clear"></div>
              </div>

              <div class="step-pane sample-pane clearfix" data-step="2" id="step2">
                  
              </div>
          </div>
      </div>

      
      <br><br>
      <div class="actions">
          <button class="btn btn-lg btn-dfault btn-prev btn-custom " id="btnPrev">
          <i class="icon small reneco leftarrow white action-picto"></i>
          <span class="ctrl">Prev</span>
          </button>

          <button class=" pull-right btn btn-lg btn-dfault btn-next btn-custom " id="btnNext" disabled>
          <span class="ctrl">Next</span>
          <i class="icon small reneco rightarrow white action-picto"></i>

          </button>
      </div>
      <br>


  </div>
</div>
</div> <!-- end fuel -->







</script>
