<script type="text/template">
	<div id="details" class="black-bg">
		<div id="separatorDetails">
			<a href="#individual"><img src="images/back_white.png"></a><span>Back to search</span>
			<span id="hideIndivDetails" class="glyphicon big glyphicon-chevron-left"/>
		</div>
		<div class="row" id="birdInfosDiv">
			<div class="col-sm-6">
				<div><span>ID : </span>
				<span id="birdId">
				</span></div>
				<div><img id="birdSpecieImg" src=""/></div>
				<div id="divBirdName"><span id="birdSpecies" class="whiteColor">
				</span></div>
				<div>

				</div>
			</div>
			<div class="col-sm-6">
				<div class="row">
					<div class="col-sm-4">
						<img src="images/transmitters.png" id=" "/>
						<div><span>PTT: </span>
						<span></span></div>
					</div>
					<div class="col-sm-4">
						<img src="images/rings.png" id=" ">
						<p id=" ">rings</p>
					</div>
					<div class="col-sm-4">
						<img src="images/markers.png" id=" ">
						<p id=" ">markers</p>
					</div>
				</div>
				<div class="row">
					<p id="transmittersVal" class="whiteColor"></p>
				</div>

			</div>
		</div>
		<div class="row birdDetailsDiv" id="birdInfosDetails">
			<div class="col-sm-2">
				<img src="" id="birdSexPic">
				<p id="birdSexLabel" class="whiteColor">

				</p>
			</div>
			<div class="col-sm-2">
				<img src="" id="birdOriginPic">
				<p id="birdOriginLabel" class="whiteColor">

				</p>
			</div>
			<div class="col-sm-2">
				<img src="" id="birdAgePic">
				<p id="birdAgeLabel" class="whiteColor">

				</p>
			</div>
			<div class="col-sm-3">
				<div>birth date</div>
				<p id="birdBirthDate" class="whiteColor">

				</p>
			</div>
			<div class="col-sm-3">
				<div>last observation</div>
				<p id="indivLastObs" class="whiteColor"/>
			</div>
		</div>
		<div class="row birdDetailsDiv" id="birdDetailsStatus">
			<div class="col-sm-4">
				<div>survey type</div>
				<p id="birdSurveyType" class="whiteColor">

				</p>
			</div>
			<div class="col-sm-4">
				<div>monitoring status</div>
				<p id="birdMonitStatus" class="whiteColor">

				</p>
			</div>
			<div class="col-sm-4">
				<div>individual status</div>
				<p id="birdIndivStatus" class="whiteColor">

				</p>
			</div>
		</div>
		<div class="row birdDetailsDiv" id="birdDetailsPosDiv">
			<div class="col-sm-6">
				<div>number of positions</div>
				<p id="indivNbObs" class="whiteColor">-</p>
			</div>
			<div class="col-sm-6">
				<div>duration (months)</div>
				<p id="indivNbDuration" class="whiteColor">-</p>
			</div>
		</div>
	</div>
	<div id="locations" class='backgrid-container'></div>
</script>
