<script type="text/template">
    <!-- Brand and toggle get grouped for better mobile display -->
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">ecoReleve-Data</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li id="user"></li>
                <li><a id="logout">Logout</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->

    </nav>
    <div id="breadcrumbs">
    </div>
</script>
