<script type="text/template">
<div id="home-top" class="row">
    <div id="graph" class="col-lg-4 col-lg-offset-1">
    </div>
    <div id="info" class="col-lg-4 col-lg-offset-2">
    </div>
</div>
<div id="home-bottom" class="ui three column stackable grid">
        
                <div class="col-xs-12 col-sm-6 col-md-4">
        
            <div class="thumbnail tile tile-wide tile-pumpkin">
                <a href="#stationType" class="fa-links">
                    <i class="fa fa-3x huge icon reneco entrykey"></i>
                    <h2>manual entry</h2>
                </a>
            </div>
            
            <div class="thumbnail tile tile-medium tile-sun-flower connected">
                <a id="importTile" class="fa-links">
                    <i class="fa fa-3x huge icon reneco import"></i>
                    <h2>import</h2>
                </a>
            </div>
            
            <div class="thumbnail tile tile-medium tile-orange connected" id="argosTile">
                <a href="#argos" class="fa-links">
                    <i class="fa fa-3x huge icon reneco sensorimport"></i>
                    <h2>sensor import</h2>
                    <div class="badge bg-red" id="homeArgosNb"></div>
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
        
            <div class="thumbnail tile tile-medium tile-lime connected">
                <a href="#objects" class="fa-links" >
                    <i class="fa fa-3x huge icon reneco sensors"></i>
                    <h2>sensors</h2>
                </a>
            </div>
            
            <div class="thumbnail tile tile-medium tile-emerald connected">
                <a id="indivTile" class="fa-links">
                    <i class="fa fa-3x huge icon reneco individuals"></i>
                    <h2>individuals</h2>
                </a>
            </div>
            <div class="thumbnail tile tile-wide tile-green connected">
                <a id="alldataTile" class="fa-links">
                    <i class="fa fa-3x huge icon reneco map"></i>
                    <h2>map</h2>
                </a>
            </div>
                
        </div>
        
        <div class="col-xs-12 col-sm-6 col-md-4">
        
            <div class="thumbnail tile tile-medium tile-teal connected ">
                <a id="gsmTile" class="fa-links">
                    <i class="fa fa-3x huge icon reneco export"></i>
                    <h2>gsm</h2>
                </a>
            </div>
            
            <div class="thumbnail tile tile-medium tile-peter-river connected" >
                <span class="pull-right label label-danger" id="homeNbObs"></span>
                <a id="rfidTile" class="fa-links">
                    <i class="fa fa-3x huge icon reneco mydata"></i>
                    <h2>rfid </h2>
                </a>

            </div>
            <div class="thumbnail tile tile-medium tile-teal connected ">
                <a href="#export" class="fa-links">
                    <i class="fa fa-3x huge icon reneco export"></i>
                    <h2>objects</h2>
                </a>
            </div>
            
            <div class="thumbnail tile tile-medium tile-peter-river connected" >
                <span class="pull-right label label-danger" id="homeNbObs"></span>
                <a href="#mydata" id="homeMyDataTuile" class="fa-links">
                    <i class="fa fa-3x huge icon reneco mydata"></i>
                    <h2>my data </h2>
                </a>

            </div>
                
        </div>


</div>
<div id="credits">&copy; Auble Camille</div>
</script>
