<script type="text/template">
<div id="home-top" class="row">
    <div id="graph" class="col-lg-4 col-lg-offset-1">
    </div>
    <div id="info" class="col-lg-4 col-lg-offset-2">
    </div>
</div>
<div id="home-bottom" class="ui three column stackable grid">
        <div class="column">
            <div class="ui celled grid">
                 <div class="row">
                    <div class="two wide column">
                        <a class="ui disabled orange fluid icon button" href="#stationType"><i class="huge icon reneco entrykey"></i>manual entry</a>
                    </div>
                 </div>
                 <div class="row">
                    <div class="one wide column">
                        <a class="ui yellow fluid icon button" href="#import"><i class="huge icon reneco import"></i>import</a>
                    </div>
                    <div class="one wide column">
                        <a class="ui red fluid icon button" id="argosTile"><i class="huge icon reneco sensorimport"></i>sensor import</a>
                    </div>
                 </div>
            </div>
        </div>

        <div class="column">
            <div class="ui celled grid">
                 <div class="row">
                    <div class="one wide column">
                        <a class="ui lime fluid icon button" href="#objects"><i class="huge icon reneco sensors"></i>sensors</a>
                    </div>
                    <div class="one wide column">
                        <a class="ui olive fluid icon button" id="indivTile"><i class="huge icon reneco individuals"></i>individuals</a>
                    </div>
                 </div>

                 <div class="row">
                    <div class="two wide column">
                        <a class="ui green fluid icon button" href="#allData"><i class="huge icon reneco map"></i>map</a>
                    </div>
                 </div>

            </div>
        </div>

        <div class="column">


            <div class="ui celled grid">

                 <div class="row">
                    <div class="one wide column">
                        <a class="ui green fluid icon button" href="#objects"><i class="huge icon reneco export"></i>export</a>
                    </div>
                    <div class="one wide column">
                        <a class="ui blue fluid icon button" id="rfidTile"><i class="huge icon reneco mydata"></i>rfid</a>
                    </div>
                 </div>
                 <div class="row">
                    <div class="one wide column">
                        <a class="ui blue fluid icon button" href="#transmitter"><i class="huge icon reneco mydata"></i>Object</a>
                    </div>
                    <div class="one wide column">
                        <a class="ui disabled lime fluid icon button" href="#mydata"><i class="huge icon reneco mydata"></i>my data</a>
                    </div>
                 </div>
            </div>
        </div>
    </div>
<div id="credits">&copy; Auble Camille</div>
</script>
