<script type="text/template">
    <form class="login-form" role="form">
        <div class="form-group" id="login-group">
            <label class="control-label" for="username">Username:</label>
            <input id="username" list="username_list" type="text"
                class="form-control" placeholder="Username"
                autocomplete="off"/>
            <span class="help-block"></span>
            <datalist id="username_list">
                <% _.each(items, function(user) { %>
                <option> <%= user.fullname %> </option>
                <% }); %>
            </datalist>
        </div>
        <div class="form-group" id="pwd-group">
            <label class="control-label" for="user_password">Password:</label>
            <input id="password" type="password" class="form-control" placeholder="Password"/>
            <span id="help-password" class="help-block"></span>
        </div>
        <button id="login-btn" type="submit" class="center-block form-control btn btn-primary">Sign in</button>
    </form>
</script>
