<div class="row-fluid" id="birdDetailsContainer">
	<div id="obsDetails"  class="span6">
		<div id="separatorDetails">
			<a href="#mydata"><img src="images/back_white.png"></a><span>search results</span>
		</div>
				<div class="row-fluid">
					<div class="span6">
						<div class="inlineBlocAlign">
							<img src="images/observation.png" class="myObsPicto">
						</div>
						<div class="inlineBlocAlign">
							<span id=" ">station name</span><br/>
							<span id="myObsStationName" class="whiteColor"></span>
						</div>
					</div>
					<div class="span6">
						<span>latitude: </span><span id="myObsStatLat" class="whiteColor"></span><br/><span>longitude: </span><span id="myObsStatLon" class="whiteColor"></span>
					</div>
				</div>
				<div class="row-fluid borderStyled">
					<div class="inlineBlocAlign">
							<img src="images/date.png" class="myObsPicto">
					</div>
					<div class="inlineBlocAlign">
							<span>date</span><br/>
							<span id="myObsStationDate" class="whiteColor"></span>
					</div>
				</div>
				<div class="row-fluid borderStyled">
					<div class="inlineBlocAlign">
							<img src="images/protocol.png" class="myObsPicto">
					</div>
					<div class="inlineBlocAlign">
							<span>protocol</span><br/>
							<span id="myObsProtocol" class="whiteColor"></span>
					</div>
				</div>
				<div class="row-fluid borderStyled">
					<div id="myObsProtoValues">
						<p>fields</p>
						<div class="row-fluid">
							<div class="span6 whiteColor">field</div>
							<div class="span6 whiteColor">value</div>
						</div>
						
					</div>
				</div>




	</div>
	<div class="span6" id="obsMap">
		<div id="map" style="width:800px; height:800px;"></div>
	</div>
</div>
