<div class="tile-wrapper">
	<ul class="thumbnails">
		<li class="tile tile-lime icon connected">
			<a href="/Intranet/Main.aspx" >
				<img src="images/icon-intranet.png"/>
				<h2>intranet</h2>
			</a>
		</li>
		<li class="tile tile-orange icon connected">
			<a href="/Intranet/TRACK_DEV/" >
				<img src="images/track-picto.png"/>
				<h2>track</h2>
			</a>
		</li>
		<li class="tile tile-green icon connected">
			<a href="/eCollection/" >
				<img src="images/ecollection-picto.png"/>
				<h2>ecollection</h2>
			</a>
		</li>
		<li class="tile tile-teal icon connected">
			<a href="/Intranet/THESAURUS/" >
				<img src="images/theseaurus-picto.png"/>
				<h2>theseaurus</h2>
			</a>
		</li>
	</ul>
</div>
