<div id="objectDescription">
	<div class ="row-fluid masqued" id="objectDescIndiv">
		<div class="span4">
			<p><span class="objDescription">id:</span><span id="ObjId"></span></p>
			<p><span class="objDescription">sex precision:</span><span id="ObjSex"></span></p>
			<p><span class="objDescription">origin precision:</span><span id="ObjOrigin" ></span></p>
			<p><span class="objDescription">species precision:</span><span id="ObjSpecies" ></span></p>
		</div>
		<div class="span4">
			<p><span class="objDescription">birth date:</span><span id="ObjBirthDate"></span></p>
			<p><span class="objDescription">death date:</span><span id="ObjDeathDate"></span></p>
			<p><span class="objDescription">comments:</span><span id="ObjComment"></span></p>
		</div>
	</div>
	<div class ="row-fluid masqued" id="objectDescRadio">
		<div class="span4">
			<p><span class="objDescription">id:</span><span id="ObjRadioId"></span></p>
			<p><span class="objDescription">company id:</span><span id="ObjCompanyId"></span></p>
			<p><span class="objDescription">shape:</span><span id="ObjShape" ></span></p>
			<p><span class="objDescription">weight:</span><span id="ObjWheight" ></span></p>
		</div>
	</div>
	<div class ="row-fluid masqued" id="objectDescSat">
		<div class="span4">
			<p><span class="objDescription">id:</span><span id="ObjSatId"></span></p>
			<p><span class="objDescription">company id:</span><span id="ObjSatCompanyId"></span></p>
			<p><span class="objDescription">model:</span><span id="ObjModel" ></span></p>
			<p><span class="objDescription">comments:</span><span id="ObjSatComments" ></span></p>
		</div>
	</div>
</div>
<div><div id="grid"></div></div>
<!--
<table id="objectHistoryTable">
	<tr>
	  <th>characteristic</th>
	  <th>value</th>
	  <th>begin date</th>
	  <th>end date</th>
	</tr>
</table> 
-->