<script type="text/template">
    <div class="col-sm-4 col-sm-offset-4">
        <form class="form-inline" role="form">
            <div class="form-group">
                <input type="file" id="input-file"/>
            </div>
            <div class="form-group">
                <button id="btn-import" type="submit" class="btn btn-primary">
                    Import
                </button>
            </div>
        </form>
        <div class="spacer"/>
        <div class="progress">
            <div class="progress-bar" style="width: 0%;"></div>
        </div>
    </div>
</script>
