<script type="text/template">
		<div class="grid-list dark full-height" >

			
			<div class="grid no-padding full-height" style="height:95%">
				<div id="list" class="backgrid-container grid-list full-height"></div>
			</div>
		</div>
	</div>
</script>

<!-- <div id="StepManager" class="StepManager fuelux full-height" >
		<div class="wizard full-height">
			<div class="stepper-header" id = "stepper-header" > VALIDATE </div>
			<div class="clear"></div>
			<div id="main-panel" class="">
				<legend for="male" style="margin-top: 5%; margin-left: 5%; border-bottom:none;"> Select GSM ID / Individual </legend>
				<div class="step-content" id="step-content" >
					<div id="list" class="grid"></div>
					<div class="clear"></div>
				</div>
		 	</div>
		</div>
</div>
<div class="clear"></div> -->