<script type="text/template">

	<div class="center-block wrapper-menu full-height">
		<div class="vertical-center-fix"></div>
		<div class="vertical-center-content">
		<div id="gsm" class="wrapper-tile first-classic small_tile tile-orange">
			<div class="inner">
			<i class="fa fa-3x huge icon reneco gsm_format"></i>
			<br>
			GSM
			</div>
		</div>
		<div id="rfid" class="wrapper-tile small_tile tile-carrot">
			<div class="inner">
			<i class="fa fa-3x huge icon reneco rfid_format"></i>
			<br>
			RFID
			</div>
		</div>
		<div id="argosTile" class="wrapper-tile small_tile tile-pumpkin">
			<div class="inner">
			<i class="fa fa-3x huge icon reneco sensorimport"></i>
			<br>
			ARGOS
			</div>
		</div>
		</div>
		<div class="clear"></div>
	</div>

</script>
