<script type="text/template">
	<div id="StepManager" class="StepManager fuelux full-height" style="padding-left:20%; padding-right:20% ">
		<div class="wizard full-height">
			<div class="stepper-header" id = "stepper-header" > VALIDATE </div>
			<div class="clear"></div>
			<div class="step-content" id="step-content" style="padding-top: 20%!important;">
				<div class="center-block tile-container tile-container-3">
				<div id="gsm" class="tile first-classic small_tile tile-orange">
					<i class="fa fa-3x huge icon reneco sensorimport"></i>
					<h3>GSM</h3>
				</div>
				<div id="rfid" class="tile small_tile tile-carrot">
					<i class="fa fa-3x huge icon reneco sensorimport"></i>
					<h3>RFID</h3>
				</div>
				<div id="argosTile" class="tile small_tile tile-pumpkin">
					<i class="fa fa-3x huge icon reneco sensorimport"></i>
					<h3>ARGOS</h3>
				</div>
				<div class="clear"></div>
				</div>
		 	</div>
		</div>
	</div>
	<div class="clear"></div>

	
</script>
