
<div class="echapment">

	
                    <div class="ui segment wrapper">
                        <div class="ui fluid basic large form segment"> 
                            <div class="grouped fields clearfix">


                                <div class="new col-sm-3">
                                    <div class="manual-tile-import">
                                        <div class="center">
                                            <i class="fa fa-3x huge icon reneco gpx_format "></i>
                                        
                                        </div>
                                        <div class="radio">
                                            <label>
                                            GPS GPX <br>
                                            <input type="radio" name="filetype" value="gps-gpx" checked>
                                            
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="new col-sm-3">
                                    <div class="manual-tile-import">
                                        <div class="center">
                                            <i class="fa fa-3x huge icon reneco rfid_format "></i>
                                        
                                        </div>
                                        <div class="radio">
                                            <label>
                                            RFID<br>
                                            <input type="radio" name="filetype" value="rfid">
                                            
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="new col-sm-3">
                                    <div class="manual-tile-import">
                                        <div class="center">
                                            <i class="fa fa-3x huge icon reneco gsm_format "></i>
                                        </div>
                                        <div class="radio">
                                            <label>
                                            GSM <br>
                                            <input type="radio" name="filetype" value="gsm">
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="new col-sm-3">
                                    <div class="manual-tile-import disable">
                                        <div class="center">
                                            <i class="fa fa-3x huge icon reneco csv_format "></i>
                                        </div>
                                        <div class="radio">
                                            <label>
                                            CSV <br>
                                            <input type="radio" name="filetype" value="gps-csv" disabled>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div> 
                        <div class="ui basic segment">
                        <br><br><br><br><br><br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  GPX, or GPS eXchange Format is an XML schema designed as a common GPS data format. It can be used to describe waypoints, tracks, and routes.
                        </div>
              
                

	

</div>