
<div class="echapment">

	
                    <div class="ui segment wrapper">
                        <div class="ui fluid basic large form segment"> 
                            <div class="grouped fields">
                                <legend for="male">select a type of data</legend>
                                <div class="field">
                                    <div class="ui radio-inline checkbox">
                                        <label>
                                        <input type="radio" name="filetype" value="gps-gpx" checked>
                                        GPS GPX</label>
                                    </div>
                                </div>

                                <div class="field">
                                    <div id="rfid" class="ui radio-inline checkbox">
                                        <label>
                                        <input type="radio" name="filetype" value="rfid">
                                        RFID</label>
                                    </div>
                                </div>

                                <div class="field">
                                    <div id="gsm" class="ui radio-inline checkbox">
                                        <label>
                                        <input type="radio" name="filetype" value="gsm">
                                        GSM</label>
                                    </div>
                                </div>

                                <div class="field">
                                    <div class="ui radio-inline checkbox">
                                        <label>
                                        <input type="radio" name="filetype" value="gps-csv" disabled>
                                        CSV</label>
                                    </div>
                                </div> 

                            </div>
                        </div> 
                        <div class="ui basic segment">GPX, or GPS eXchange Format is an XML schema designed as a common GPS data format. It can be used to describe waypoints, tracks, and routes.
                        </div>
              
                

	

</div>