<div>

   <div class="ui segment wrapper">
                        <div class="ui fluid basic large form segment"> 
                            <div class="ui fluid basic large form segment"> 
                                <div class="grouped fields">
                                        <legend for="file">select a file</legend>
                                        <div id="btnFileSelection">
                                        <input type="file" class="required" name="FileInput"  id="FileInput"/>
                            			<input type="text" disabled class="required" name="FileName" value="" id="FileName"/>
                                        <div id="importLoadingMessage">
                                            <p id="importGpxMsg"></p>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>


</div>