section {margin: 0 2em;}
section.error {color: #b94a48; background-color: #f2dede; border: 1px solid #b94a48; border-radius: 0.5em;}
section.error p {margin: 1em; font-size: 1.5em;}

/* Grid stylesheet */
.grid table {border-collapse: collapse; width: 100%;}
.grid table th {padding: 0; text-align: center; vertical-align: middle; background: #fff; border: 1px solid #ddd;}
.grid table td {vertical-align: middle; cursor: pointer; padding: 2px 8px; border: 1px solid #ddd;}
.grid table tbody:hover {background-color: rgb(220, 220, 255);}

/* Grid stylesheet - pagination */
.pagination {padding: 1em 0; text-align: right;}
.pagination ul {margin: 0 1em; list-style-type: none; display: inline-block; padding: 0;}
.pagination li {display: inline;}
.pagination li > span {border: 1px solid #ddd; float: left; padding: 4px 12px; border-left-width: 0;}
.pagination li:first-child > span {border-left-width: 1px;}
.pagination li > span[data-target] {cursor: pointer; color: #2e8bcc;}
.pagination-stats {display: inline-block; vertical-align: top; margin-top: 5px; color: #999; font-style: italic;}
#pagesize-selector {display: inline-block; line-height: 25px; vertical-align: top;}
#pagesize-selector select {width: auto; margin-bottom: 0; padding: 0.5em;}

/* Grid stylesheet - sorting */
.grid th .sort-action {position: absolute; top: 0; right: 10px; color: red;}
.grid th .sort-action[data-order=""] {color: #aaa;}

/* grid view: filtering */
.grid th > div {padding: 4px 8px; position: relative;}
.grid th .filter-action {position: absolute; bottom: 0; right: 10px; color: #aaa;}
.grid th .filter-action.active {color: red;}
.grid .filter-form {padding: 0.5em; background-color: #fff; border: 1px solid #ccc; position: absolute; left: 100%; top: 100%; margin-left: -15px; display: none;}
.grid th:last-child .filter-form {right: 0; margin-left: 0; left: auto; min-width:150px;}
.grid .filter-form form {margin: 0;}
.filter-form-div {min-width: 200px;}
.grid .filter-form .input-append, .grid .filter-form .input-prepend {margin: 0;}
.grid .filter-form .filter-form-boolean {margin-left: 0; margin-bottom: 1em;}
.grid .filter-form input.error {border-color: #953b39; color: #b94a48;}
.grid .filter-form input.error:focus {-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392; -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;}
.icon-sort-down:before {
  content: "\f0dd";
}
.icon-sort-up:before {
  content: "\f0de";
}
.icon-sort-by-alphabet:before {
  content: "\f15d";
}
.icon-sort-by-alphabet-alt:before {
  content: "\f15e";
}
.icon-sort-by-attributes:before {
  content: "\f160";
}
.icon-sort-by-attributes-alt:before {
  content: "\f161";
}
.icon-sort-by-order:before {
  content: "\f162";
}
.icon-sort-by-order-alt:before {
  content: "\f163";
}
.icon-sort:before {
  content: "\f0dc";
}