<script type="text/template">
    <!-- Brand and toggle get grouped for better mobile display -->
    <nav class="navbar" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
            	<i class="small reneco relevesmall icon reneco bird2"></i>
            	 <span>ecoRelev&eacute;</span><span id="header-module-name"></span>
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">

                <li >
                    <a><i class="reneco user icon"></i>
                        <span id="user"></span>
                    </a>
                </li>
                <li id="logout"><a>Logout</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->

    </nav>
    <div id="breadcrumbs">
    </div>
</script>
