            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="caret"></span>
            </a> 
            <ul class="dropdown-menu" role="menu">
                <li><a href="#validate/gsm"><i class="medium icon reneco sensorimport" style="color:black;"></i>&nbsp;GSM</a></li>
                <li><a href="#validate/rfid"><i class="medium icon reneco sensorimport" style="color:black;"></i>&nbsp;RFID</a></li>
                <li><a href="#validate/argos"><i class="medium icon reneco sensorimport" style="color:black;"></i>&nbsp;Argos</a></li>
               
            </ul>

