<script type="text/template">
	<!-- <div class="col-xs-4 full-height">
		
		<div id="filters"></div>
		<br><br>
		<button id="filter-btn" type="submit" class="small btn btn-labeled btn-success pull-right">
             FILTER
            <span class="btn-label">
                <i class="icon reneco search "></i>
            </span>
		</button>	
	</div> -->
	<div class="container scroll-auto">
		<br>
		Data frequency : Keep one data per <span id="Freq">1</span> Hour.
		<br><br><div id="slider"></div>
		<br><br>
		<div id="grid" class="backgrid-container grid-list"></div>
		<div id="paginator"></div>
	</div>
</script>